{
    "openapi": "3.0.3",
    "info": {
        "title": "Agreement Manager API",
        "version": "1.0.0",
        "description": "API for retrieving agreements",
        "termsOfService": "https://www.docusign.com/legal/terms-and-conditions/developers",
        "license": {
            "name": "",
            "url": "https://www.docusign.com/legal/terms-and-conditions/developers"
        },
        "contact": {
            "name": "Docusign Developer Center",
            "email": "devcenter@docusign.com",
            "url": "https://developers.docusign.com"
        }
    },
    "servers": [
        {
            "url": "https://api.docusign.com",
            "description": "Production server"
        },
        {
            "url": "https://api-d.docusign.com",
            "description": "Demo server"
        }
    ],
    "security": [
        {
            "accessToken": [
                "adm_store_unified_repo_read",
                "adm_store_unified_repo_write",
                "models_read",
                "document_uploader_read",
                "document_uploader_write",
                "public_dms_document_read"
            ]
        }
    ],
    "paths": {
        "/v1/accounts/{accountId}/agreements": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/AccountId"
                }
            ],
            "get": {
                "operationId": "GetAgreementsList",
                "summary": "",
                "description": "",
                "x-ds-methodname": "getAgreementsList",
                "tags": [
                    "Agreements"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/PageLimit",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/CToken",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/ODataFilter",
                        "description": ""
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "review_status",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "review_completed_at",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "format": "DateTime"
                        }
                    },
                    {
                        "name": "parties.name_in_agreement",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "metadata.created_at",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "format": "DateTime"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "related_agreement_documents.parent_agreement_document_id",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "languages",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "provisions.effective_date",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "format": "DateTime"
                        }
                    },
                    {
                        "name": "provisions.expiration_date",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "format": "DateTime"
                        }
                    },
                    {
                        "name": "provisions.execution_date",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "format": "DateTime"
                        }
                    },
                    {
                        "name": "provisions.term_length",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source_name",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source_id",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_linked_data",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AgreementsSuccess"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "getAgreementsList",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            },
            "patch": {
                "operationId": "PatchAgreementByDocumentId",
                "summary": "",
                "description": "",
                "tags": [
                    "Agreements"
                ],
                "x-ds-methodname": "patchAgreementByDocumentId",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    },
                    {
                        "name": "document_id",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "description": "JSON payload containing the fields to be updated in the agreement.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agreement"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The agreement has been successfully updated via document ID. Returns the complete updated agreement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agreement"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "patchAgreementByDocumentId",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/agreement-types": {
            "get": {
                "operationId": "GetAgreementTypes",
                "summary": "",
                "description": "",
                "x-ds-methodname": "getAgreementTypes",
                "tags": [
                    "Agreements"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/AgreementTypeListResponse"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "getAgreementTypes",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/agreements/{agreementId}": {
            "get": {
                "operationId": "GetAgreement",
                "summary": "",
                "description": "",
                "tags": [
                    "Agreements"
                ],
                "x-ds-methodname": "getAgreement",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/AgreementIdPath",
                        "description": ""
                    },
                    {
                        "name": "include_linked_data",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A JSON object containing details of the requested agreement document.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agreement"
                                },
                                "examples": {
                                    "AddendumDocumentTemplate": {
                                        "$ref": "#/components/examples/AddendumDocumentTemplate"
                                    },
                                    "AmendmentDocumentTemplate": {
                                        "$ref": "#/components/examples/AmendmentDocumentTemplate"
                                    },
                                    "AppendixDocumentTemplate": {
                                        "$ref": "#/components/examples/AppendixDocumentTemplate"
                                    },
                                    "AttachmentDocumentTemplate": {
                                        "$ref": "#/components/examples/AttachmentDocumentTemplate"
                                    },
                                    "CertificateOfInsuranceDocumentTemplate": {
                                        "$ref": "#/components/examples/CertificateOfInsuranceDocumentTemplate"
                                    },
                                    "ChangeOrderDocumentTemplate": {
                                        "$ref": "#/components/examples/ChangeOrderDocumentTemplate"
                                    },
                                    "ConsultingDocumentTemplate": {
                                        "$ref": "#/components/examples/ConsultingDocumentTemplate"
                                    },
                                    "ContractorDocumentTemplate": {
                                        "$ref": "#/components/examples/ContractorDocumentTemplate"
                                    },
                                    "CreditCardDocumentTemplate": {
                                        "$ref": "#/components/examples/CreditCardDocumentTemplate"
                                    },
                                    "EmploymentSeparationDocumentTemplate": {
                                        "$ref": "#/components/examples/EmploymentSeparationDocumentTemplate"
                                    },
                                    "EngagementLetterDocumentTemplate": {
                                        "$ref": "#/components/examples/EngagementLetterDocumentTemplate"
                                    },
                                    "EventDocumentTemplate": {
                                        "$ref": "#/components/examples/EventDocumentTemplate"
                                    },
                                    "ExhibitDocumentTemplate": {
                                        "$ref": "#/components/examples/ExhibitDocumentTemplate"
                                    },
                                    "FeeDocumentTemplate": {
                                        "$ref": "#/components/examples/FeeDocumentTemplate"
                                    },
                                    "FranchiseDocumentTemplate": {
                                        "$ref": "#/components/examples/FranchiseDocumentTemplate"
                                    },
                                    "IntellectualPropertyAssignmentDocumentTemplate": {
                                        "$ref": "#/components/examples/IntellectualPropertyAssignmentDocumentTemplate"
                                    },
                                    "InvestmentAccountDocumentTemplate": {
                                        "$ref": "#/components/examples/InvestmentAccountDocumentTemplate"
                                    },
                                    "JointVentureDocumentTemplate": {
                                        "$ref": "#/components/examples/JointVentureDocumentTemplate"
                                    },
                                    "LeaseDocumentTemplate": {
                                        "$ref": "#/components/examples/LeaseDocumentTemplate"
                                    },
                                    "LetterOfIntentDocumentTemplate": {
                                        "$ref": "#/components/examples/LetterOfIntentDocumentTemplate"
                                    },
                                    "LicenseDocumentTemplate": {
                                        "$ref": "#/components/examples/LicenseDocumentTemplate"
                                    },
                                    "LoanDocumentTemplate": {
                                        "$ref": "#/components/examples/LoanDocumentTemplate"
                                    },
                                    "MarketingDocumentTemplate": {
                                        "$ref": "#/components/examples/MarketingDocumentTemplate"
                                    },
                                    "MsaDocumentTemplate": {
                                        "$ref": "#/components/examples/MsaDocumentTemplate"
                                    },
                                    "MemorandumOfUnderstandingDocumentTemplate": {
                                        "$ref": "#/components/examples/MemorandumOfUnderstandingDocumentTemplate"
                                    },
                                    "NdaDocumentTemplate": {
                                        "$ref": "#/components/examples/NdaDocumentTemplate"
                                    },
                                    "OfferLetterDocumentTemplate": {
                                        "$ref": "#/components/examples/OfferLetterDocumentTemplate"
                                    },
                                    "OrderFormDocumentTemplate": {
                                        "$ref": "#/components/examples/OrderFormDocumentTemplate"
                                    },
                                    "OtherDocumentTemplate": {
                                        "$ref": "#/components/examples/OtherDocumentTemplate"
                                    },
                                    "PartnershipDocumentTemplate": {
                                        "$ref": "#/components/examples/PartnershipDocumentTemplate"
                                    },
                                    "PrivacySecurityDocumentTemplate": {
                                        "$ref": "#/components/examples/PrivacySecurityDocumentTemplate"
                                    },
                                    "ProposalDocumentTemplate": {
                                        "$ref": "#/components/examples/ProposalDocumentTemplate"
                                    },
                                    "PublishingDocumentTemplate": {
                                        "$ref": "#/components/examples/PublishingDocumentTemplate"
                                    },
                                    "PurchaseDocumentTemplate": {
                                        "$ref": "#/components/examples/PurchaseDocumentTemplate"
                                    },
                                    "PurchaseOrderDocumentTemplate": {
                                        "$ref": "#/components/examples/PurchaseOrderDocumentTemplate"
                                    },
                                    "QuoteDocumentTemplate": {
                                        "$ref": "#/components/examples/QuoteDocumentTemplate"
                                    },
                                    "ReleaseWaiverDocumentTemplate": {
                                        "$ref": "#/components/examples/ReleaseWaiverDocumentTemplate"
                                    },
                                    "ConfirmationOfRenewalDocumentTemplate": {
                                        "$ref": "#/components/examples/ConfirmationOfRenewalDocumentTemplate"
                                    },
                                    "RetainerDocumentTemplate": {
                                        "$ref": "#/components/examples/RetainerDocumentTemplate"
                                    },
                                    "SlaDocumentTemplate": {
                                        "$ref": "#/components/examples/SlaDocumentTemplate"
                                    },
                                    "ServicesAgreementDocumentTemplate": {
                                        "$ref": "#/components/examples/ServicesAgreementDocumentTemplate"
                                    },
                                    "SowDocumentTemplate": {
                                        "$ref": "#/components/examples/SowDocumentTemplate"
                                    },
                                    "StockPurchaseDocumentTemplate": {
                                        "$ref": "#/components/examples/StockPurchaseDocumentTemplate"
                                    },
                                    "SubscriptionDocumentTemplate": {
                                        "$ref": "#/components/examples/SubscriptionDocumentTemplate"
                                    },
                                    "SupplementalDocumentTemplate": {
                                        "$ref": "#/components/examples/SupplementalDocumentTemplate"
                                    },
                                    "DistributionDocumentTemplate": {
                                        "$ref": "#/components/examples/DistributionDocumentTemplate"
                                    },
                                    "TerminationDocumentTemplate": {
                                        "$ref": "#/components/examples/TerminationDocumentTemplate"
                                    },
                                    "TermsAndConditionsDocumentTemplate": {
                                        "$ref": "#/components/examples/TermsAndConditionsDocumentTemplate"
                                    },
                                    "WealthManagementDocumentTemplate": {
                                        "$ref": "#/components/examples/WealthManagementDocumentTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "getAgreement",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            },
            "delete": {
                "operationId": "DeleteAgreement",
                "summary": "",
                "description": "",
                "tags": [
                    "Agreements"
                ],
                "x-ds-methodname": "deleteAgreement",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/AgreementIdPath",
                        "description": ""
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The agreement has been successfully deleted from the account."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "deleteAgreement",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            },
            "patch": {
                "operationId": "PatchAgreement",
                "summary": "",
                "description": "",
                "tags": [
                    "Agreements"
                ],
                "x-ds-methodname": "patchAgreement",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/AgreementIdPath",
                        "description": ""
                    }
                ],
                "requestBody": {
                    "required": true,
                    "description": "JSON payload containing the fields to be updated in the agreement.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agreement"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The agreement has been successfully updated. Returns the complete updated agreement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agreement"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "patchAgreement",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/agreements/{agreementId}/actions/change-type": {
            "patch": {
                "operationId": "ChangeAgreementType",
                "summary": "",
                "description": "",
                "tags": [
                    "Agreements"
                ],
                "x-ds-methodname": "changeAgreementType",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AccountId",
                        "description": ""
                    },
                    {
                        "$ref": "#/components/parameters/AgreementIdPath",
                        "description": ""
                    }
                ],
                "requestBody": {
                    "required": true,
                    "description": "JSON payload specifying the target agreement type.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangeAgreementTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The agreement type has been successfully changed. Returns the updated agreement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangeAgreementTypeResponse"
                                },
                                "example": {
                                    "id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                    "title": "Non-Disclosure Agreements (NDAs)",
                                    "type": "NonDisclosureAgreements",
                                    "category": "Services",
                                    "status": "active",
                                    "metadata": {
                                        "created_at": "2025-03-15T10:30:00.000Z",
                                        "modified_at": "2026-05-08T14:22:00.000Z",
                                        "created_by": "user@example.com"
                                    },
                                    "_links": {
                                        "self": {
                                            "href": "/v1/accounts/{accountId}/agreements/{agreementId}"
                                        },
                                        "collection": {
                                            "href": "/v1/accounts/{accountId}/agreements"
                                        },
                                        "agreement_types": {
                                            "href": "/v1/accounts/{accountId}/agreement-types"
                                        }
                                    },
                                    "_actions": {
                                        "change_type": {
                                            "href": "/v1/accounts/{accountId}/agreements/{agreementId}/actions/change-type",
                                            "method": "PATCH",
                                            "description": "Change the agreement type to a different configured type."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "description": "Unprocessable Entity - The specified type does not match any configured agreement type.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrDetails"
                                },
                                "example": {
                                    "title": "Invalid Agreement Type",
                                    "status": 422,
                                    "detail": "The agreement type 'InvalidType' is not configured for this account.",
                                    "instance": "/v1/accounts/{accountId}/agreements/{agreementId}/actions/change-type"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-ds-method": "changeAgreementType",
                "x-ds-service": "Agreements",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/upload/jobs": {
            "post": {
                "x-ds-methodname": "createBulkUploadJob",
                "tags": [
                    "BulkJob"
                ],
                "summary": "",
                "description": "",
                "operationId": "createBulkUploadJob",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UUID"
                        },
                        "description": ""
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBulkJob"
                            },
                            "example": {
                                "job_name": "Q4 2025 Contracts",
                                "expected_number_of_docs": 2,
                                "language": "en-US"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Job created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkJob"
                                },
                                "examples": {
                                    "BulkJobCreated": {
                                        "$ref": "#/components/examples/BulkJobResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequestsError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError2"
                    }
                },
                "x-ds-method": "createBulkUploadJob",
                "x-ds-service": "BulkJob",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/upload/jobs/{jobId}": {
            "get": {
                "x-ds-methodname": "getBulkJobStatus",
                "tags": [
                    "BulkJob"
                ],
                "summary": "",
                "description": "",
                "operationId": "getBulkJobStatus",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UUID"
                        },
                        "description": ""
                    },
                    {
                        "name": "jobId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UUID"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The bulk job status and details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkJob"
                                },
                                "examples": {
                                    "BulkJobStatus": {
                                        "$ref": "#/components/examples/BulkJobStatusExample"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError2"
                    }
                },
                "x-ds-method": "getBulkJobStatus",
                "x-ds-service": "BulkJob",
                "x-ds-in-sdk": true
            }
        },
        "/v1/accounts/{accountId}/upload/jobs/{jobId}/actions/complete": {
            "post": {
                "x-ds-methodname": "uploadCompleteBulkJob",
                "tags": [
                    "BulkJob"
                ],
                "summary": "",
                "description": "",
                "operationId": "uploadCompleteBulkJob",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UUID"
                        },
                        "description": ""
                    },
                    {
                        "name": "jobId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UUID"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated bulk job",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkJob"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError2"
                    }
                },
                "x-ds-method": "uploadCompleteBulkJob",
                "x-ds-service": "BulkJob",
                "x-ds-in-sdk": true
            }
        }
    },
    "components": {
        "schemas": {
            "CreateBulkJob": {
                "type": "object",
                "required": [
                    "expected_number_of_docs"
                ],
                "properties": {
                    "job_name": {
                        "type": "string",
                        "description": "Name for the new job to be created. If empty, server will auto-create name for the job.",
                        "minLength": 1,
                        "maxLength": 256,
                        "example": "Q4 2025 Contracts"
                    },
                    "expected_number_of_docs": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "maximum": 10000,
                        "description": "Number of docs this job will have. Will use provided document_requests size if there is a mismatch.",
                        "example": 2
                    },
                    "language": {
                        "type": "string",
                        "description": "Language for the user, such as en-US, en-GB, if not provided will default to en-US.",
                        "example": "en-US"
                    }
                },
                "x-ds-definition-name": "CreateBulkJob"
            },
            "BulkJob": {
                "description": "",
                "required": [
                    "id",
                    "name",
                    "status",
                    "status_enum",
                    "created_at",
                    "modified_at",
                    "expires_at",
                    "metadata"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Id for job",
                        "example": "1d4dbfd5-6911-47a7-93fa-f597975f7d2d"
                    },
                    "external_job_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "User provided reference ID for this job"
                    },
                    "name": {
                        "type": "string",
                        "description": "User provided name for this job",
                        "example": "Q4 2025 Contracts"
                    },
                    "status": {
                        "$ref": "#/components/schemas/BulkJobStatus"
                    },
                    "status_enum": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "OPEN",
                            "UPLOAD_COMPLETE",
                            "IN_PROGRESS",
                            "COMPLETE",
                            "FAILED",
                            "CANCELED"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-27T19:11:42Z"
                    },
                    "modified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-27T19:11:42Z"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-28T03:11:42Z"
                    },
                    "ttl_period": {
                        "type": "string",
                        "description": "ISO 8601 duration for job validity",
                        "example": "PT8H"
                    },
                    "_embedded": {
                        "$ref": "#/components/schemas/BulkJobEmbedded"
                    },
                    "_action_templates": {
                        "$ref": "#/components/schemas/BulkJobActionTemplates"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/BulkJobLinks"
                    },
                    "constraints": {
                        "$ref": "#/components/schemas/BulkJobConstraints"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/BulkJobMetadata"
                    },
                    "message": {
                        "type": "string",
                        "example": "Files exceeding 100MB or more than 10,000 per job will be rejected."
                    }
                },
                "x-ds-definition-name": "BulkJob",
                "x-ds-category": "AgreementManager",
                "x-ds-order": "100",
                "x-ms-summary": ""
            },
            "BulkJobEmbedded": {
                "description": "Contains detailed information about the BulkJob including presigned upload links, document IDs, etc",
                "properties": {
                    "document_status_enum": {
                        "type": "array",
                        "description": "All possible document status values",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "NOT_STARTED",
                            "IN_PROGRESS",
                            "CANCELED",
                            "SUCCEEDED",
                            "FAILED"
                        ]
                    },
                    "documents": {
                        "type": "array",
                        "description": "List of documents with presigned upload URLs",
                        "items": {
                            "$ref": "#/components/schemas/BulkJobEmbeddedItems"
                        }
                    }
                },
                "x-ds-definition-name": "BulkJobEmbedded"
            },
            "BulkJobEmbeddedItems": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Id of the document",
                        "example": "8c566d26-e7fb-4b7e-870c-1d0fb8df9084"
                    },
                    "agreement_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Agreement ID associated with this document, if created",
                        "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "sequence": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Sequential order of the document",
                        "example": 1
                    },
                    "status": {
                        "$ref": "#/components/schemas/DocStatus"
                    },
                    "file_name": {
                        "type": "string",
                        "description": "The name of the uploaded file",
                        "example": "filename.pdf"
                    },
                    "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Error code if document processing failed"
                    },
                    "error": {
                        "type": "string",
                        "description": "Error message if document processing failed"
                    },
                    "_actions": {
                        "$ref": "#/components/schemas/BulkJobItemActions"
                    },
                    "_links": {
                        "type": "object",
                        "description": "Hypermedia links related to this document",
                        "properties": {
                            "document": {
                                "type": "object",
                                "description": "Link to download the document",
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL to download the document",
                                        "example": "https://s1.us.services.demo.docusign.net/document-public-dms/v1/accounts/{accountId}/documents/{documentId}"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-ds-definition-name": "BulkJobEmbeddedItems"
            },
            "BulkJobItemActions": {
                "type": "object",
                "properties": {
                    "upload_document": {
                        "type": "string",
                        "format": "uri",
                        "description": "Azure Blob Store presigned URL to upload the document file (valid for ~8 hours)",
                        "example": "https://docupstoragewestwu3dsto.blob.core.windows.net/1d4dbfd5-6911-47a7-93fa-f597975f7d2d/8c566d26-e7fb-4b7e-870c-1d0fb8df9084?sv=2023-01-03&st=2025-10-27T19%3A11%3A42Z&se=2025-10-28T03%3A16%3A42Z&sr=b&sp=cw&sig=st%2Fot4COaU9icCNYbEfm7RdKJhjxgfi4Oo0HSEZ7EMQ%3D"
                    },
                    "upload_metadata": {
                        "type": "string",
                        "format": "uri",
                        "description": "Azure Blob Store url to upload metadata of the specific file"
                    }
                },
                "x-ds-definition-name": "BulkJobItemActions"
            },
            "BulkJobActionTemplates": {
                "type": "object",
                "properties": {
                    "upload_document": {
                        "$ref": "#/components/schemas/BulkJobActionTemplate"
                    },
                    "upload_metadata": {
                        "$ref": "#/components/schemas/BulkJobActionTemplate"
                    }
                },
                "x-ds-definition-name": "BulkJobActionTemplates"
            },
            "BulkJobActionTemplate": {
                "type": "object",
                "properties": {
                    "method": {
                        "type": "string",
                        "description": "HTTP method used for this template",
                        "example": "PUT"
                    },
                    "required": {
                        "type": "boolean",
                        "description": "Whether this action is required",
                        "example": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Upload document file to Azure Blob Storage"
                    },
                    "template_variables": {
                        "type": "object",
                        "description": "Key value pairs of variable names and descriptions, explaining how they are to be used"
                    },
                    "headers": {
                        "type": "object",
                        "description": "Key value pairs of header names and example values",
                        "example": {
                            "x-ms-blob-type": "BlockBlob",
                            "Content-Type": "application/pdf",
                            "x-ms-meta-metadata": "{\"provisions\":{\"jurisdiction\":\"California\"},\"custom_provisions\":{\"c_ClientId\":\"value\"}}"
                        }
                    },
                    "constraints": {
                        "$ref": "#/components/schemas/BulkJobConstraints"
                    },
                    "success_status_code": {
                        "type": "integer",
                        "example": 201
                    },
                    "error_status_codes": {
                        "type": "object",
                        "description": "Key value pairs of error response codes and explanations of those codes"
                    }
                },
                "x-ds-definition-name": "BulkJobActionTemplate"
            },
            "BulkJobLinks": {
                "type": "object",
                "properties": {
                    "self": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://api.docusign.com/v1/accounts/12345678-1234-1234-1234-123456789012/upload/jobs/1d4dbfd5-6911-47a7-93fa-f597975f7d2d"
                    }
                },
                "x-ds-definition-name": "BulkJobLinks"
            },
            "BulkJobConstraints": {
                "type": "object",
                "description": "Describes the limits of a bulk job, or an action associated with a bulk job",
                "properties": {
                    "max_size_mb": {
                        "type": "integer",
                        "format": "int32",
                        "example": 100
                    },
                    "max_documents_per_job": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "maximum": 10000,
                        "example": 10000
                    },
                    "allowed_formats": {
                        "type": "array",
                        "example": [
                            "pdf",
                            "docx",
                            "txt"
                        ],
                        "items": {
                            "type": "string"
                        }
                    },
                    "timeout_seconds": {
                        "type": "integer",
                        "format": "int32",
                        "example": 300
                    }
                },
                "x-ds-definition-name": "BulkJobConstraints"
            },
            "BulkJobMetadata": {
                "type": "object",
                "description": "Properties about THIS request/response, not the job resource itself",
                "properties": {
                    "request_id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    },
                    "response_timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-27T19:11:42Z",
                        "description": "When this response was generated"
                    },
                    "response_duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Time in ms to process this request",
                        "example": 150
                    }
                },
                "x-ds-definition-name": "BulkJobMetadata"
            },
            "DocStatus": {
                "description": "Document status. Last 3 are terminal statuses. Matches enum with similar name in the backend.",
                "type": "string",
                "enum": [
                    "NOT_STARTED",
                    "IN_PROGRESS",
                    "CANCELED",
                    "SUCCEEDED",
                    "FAILED"
                ],
                "example": "NOT_STARTED",
                "x-ds-definition-name": "DocStatus"
            },
            "BulkJobStatus": {
                "type": "string",
                "description": "Job lifecycle states:\n* OPEN - Job created and accepting documents\n* UPLOAD_COMPLETE - All documents have been received, and processing has not yet started\n* IN_PROGRESS - Documents are being processed (AI extraction)\n* COMPLETE - The full e2e process is complete\n* FAILED - System error prevented job execution\n* CANCELED - User initiated request to cancel a job\n",
                "enum": [
                    "OPEN",
                    "UPLOAD_COMPLETE",
                    "IN_PROGRESS",
                    "COMPLETE",
                    "FAILED",
                    "CANCELED"
                ],
                "example": "OPEN",
                "x-ds-definition-name": "BulkJobStatus"
            },
            "ErrDetails": {
                "type": "object",
                "description": "Error response conforming to RFC 9457 (Problem Details for HTTP APIs).\nSee: https://www.rfc-editor.org/rfc/rfc9457.html\n",
                "required": [
                    "type",
                    "title",
                    "status"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "format": "uri",
                        "description": "A URI reference that identifies the problem type. When dereferenced,\nit should provide human-readable documentation for the problem type.\nUse \"about:blank\" when no specific type documentation exists.\n",
                        "example": "https://www.rfc-editor.org/rfc/rfc9110#status.400"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem type. Should not change between occurrences.",
                        "example": "Invalid Request"
                    },
                    "status": {
                        "type": "integer",
                        "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                        "example": 400
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem.",
                        "example": "The provided 'email' parameter is not a valid email address."
                    },
                    "instance": {
                        "type": "string",
                        "description": "A URI reference that identifies the specific occurrence of the problem (typically the request path).",
                        "example": "/v1/accounts/12345678-1234-1234-1234-123456789012/agreements"
                    },
                    "errors": {
                        "type": "array",
                        "description": "An array of detailed validation error objects when multiple issues exist.\nEach entry identifies a specific field-level or parameter-level error.\n",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    },
                    "request_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the request, useful for tracing and debugging with support.",
                        "example": "3f7c9e4b-851c-4f9b-89e7-123456789abc"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the error occurred.",
                        "example": "2025-10-17T18:43:08.321881525Z"
                    }
                },
                "x-ds-definition-name": "ErrDetails"
            },
            "ValidationError": {
                "type": "object",
                "description": "A single field-level or parameter-level validation error.",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "A machine-readable error code identifying the specific validation failure.",
                        "example": "invalid_email"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable description of the validation error.",
                        "example": "The provided email format is incorrect."
                    },
                    "target": {
                        "type": "string",
                        "description": "The name of the field, parameter, or path segment that caused the error.",
                        "example": "email"
                    }
                },
                "x-ds-definition-name": "ValidationError"
            },
            "Any": {
                "description": "Generic data type for 'any'",
                "oneOf": [
                    {
                        "type": "array",
                        "items": {
                            "additionalProperties": true
                        }
                    },
                    {
                        "type": "integer"
                    },
                    {
                        "type": "boolean"
                    },
                    {
                        "type": "number"
                    },
                    {
                        "type": "object",
                        "additionalProperties": true
                    },
                    {
                        "type": "string"
                    }
                ],
                "x-ds-definition-name": "Any"
            },
            "ContinuationToken": {
                "type": "string",
                "description": "The continuation token used to retrieve a page in a paginated response.",
                "nullable": true,
                "example": "abc123",
                "x-ds-definition-name": "ContinuationToken"
            },
            "CurrencyCode": {
                "x-docusign-adm-class-mapping": "org.accordproject.money@0.3.0.{CurrencyCode}",
                "type": "string",
                "description": "'ISO 4217 codes. From https://en.wikipedia.org/wiki/ISO_4217\nhttps://www.currency-iso.org/en/home/tables/table-a1.html'\n",
                "nullable": true,
                "enum": [
                    "AED",
                    "AFN",
                    "ALL",
                    "AMD",
                    "ANG",
                    "AOA",
                    "ARS",
                    "AUD",
                    "AWG",
                    "AZN",
                    "BAM",
                    "BBD",
                    "BDT",
                    "BGN",
                    "BHD",
                    "BIF",
                    "BMD",
                    "BND",
                    "BOB",
                    "BOV",
                    "BRL",
                    "BSD",
                    "BTN",
                    "BWP",
                    "BYN",
                    "BZD",
                    "CAD",
                    "CDF",
                    "CHE",
                    "CHF",
                    "CHW",
                    "CLF",
                    "CLP",
                    "CNY",
                    "COP",
                    "COU",
                    "CRC",
                    "CUC",
                    "CUP",
                    "CVE",
                    "CZK",
                    "DJF",
                    "DKK",
                    "DOP",
                    "DZD",
                    "EGP",
                    "ERN",
                    "ETB",
                    "EUR",
                    "FJD",
                    "FKP",
                    "GBP",
                    "GEL",
                    "GHS",
                    "GIP",
                    "GMD",
                    "GNF",
                    "GTQ",
                    "GYD",
                    "HKD",
                    "HNL",
                    "HRK",
                    "HTG",
                    "HUF",
                    "IDR",
                    "ILS",
                    "INR",
                    "IQD",
                    "IRR",
                    "ISK",
                    "JMD",
                    "JOD",
                    "JPY",
                    "KES",
                    "KGS",
                    "KHR",
                    "KMF",
                    "KPW",
                    "KRW",
                    "KWD",
                    "KYD",
                    "KZT",
                    "LAK",
                    "LBP",
                    "LKR",
                    "LRD",
                    "LSL",
                    "LYD",
                    "MAD",
                    "MDL",
                    "MGA",
                    "MKD",
                    "MMK",
                    "MNT",
                    "MOP",
                    "MRU",
                    "MUR",
                    "MVR",
                    "MWK",
                    "MXN",
                    "MXV",
                    "MYR",
                    "MZN",
                    "NAD",
                    "NGN",
                    "NIO",
                    "NOK",
                    "NPR",
                    "NZD",
                    "OMR",
                    "PAB",
                    "PEN",
                    "PGK",
                    "PHP",
                    "PKR",
                    "PLN",
                    "PYG",
                    "QAR",
                    "RON",
                    "RSD",
                    "RUB",
                    "RWF",
                    "SAR",
                    "SBD",
                    "SCR",
                    "SDG",
                    "SEK",
                    "SGD",
                    "SHP",
                    "SLL",
                    "SOS",
                    "SRD",
                    "SSP",
                    "STN",
                    "SVC",
                    "SYP",
                    "SZL",
                    "THB",
                    "TJS",
                    "TMT",
                    "TND",
                    "TOP",
                    "TRY",
                    "TTD",
                    "TWD",
                    "TZS",
                    "UAH",
                    "UGX",
                    "USD",
                    "USN",
                    "UYI",
                    "UYU",
                    "UZS",
                    "VEF",
                    "VND",
                    "VUV",
                    "WST",
                    "XAF",
                    "XAG",
                    "XAU",
                    "XBA",
                    "XBB",
                    "XBC",
                    "XBD",
                    "XCD",
                    "XDR",
                    "XOF",
                    "XPD",
                    "XPF",
                    "XPT",
                    "XSU",
                    "XTS",
                    "XUA",
                    "XXX",
                    "YER",
                    "ZAR",
                    "ZMW",
                    "ZWL"
                ],
                "x-ds-definition-name": "CurrencyCode"
            },
            "CustomProperty": {
                "x-ds-custom-property": true,
                "type": "object",
                "description": "A generic map/dict. The key is a string, and the value can be of any type, including strings, booleans, numbers, arrays, or objects",
                "nullable": true,
                "additionalProperties": {
                    "oneOf": [
                        {
                            "type": "string"
                        },
                        {
                            "type": "number"
                        },
                        {
                            "type": "boolean"
                        },
                        {
                            "type": "object",
                            "additionalProperties": true
                        },
                        {
                            "type": "array",
                            "items": {}
                        }
                    ]
                },
                "x-ds-definition-name": "CustomProperty"
            },
            "SuccessStatusCode": {
                "type": "integer",
                "format": "int32",
                "minimum": 200,
                "maximum": 299,
                "description": "Success status codes (2xx range) indicating the request was received,\nunderstood, and accepted.\nCommon codes:\n- 200: OK - Standard successful response\n- 201: Created - Resource successfully created\n- 202: Accepted - Request accepted for processing\n- 204: No Content - Successful with no response body\n- 206: Partial Content - Partial resource returned\n",
                "example": 200,
                "x-ds-definition-name": "SuccessStatusCode"
            },
            "Iso8601Duration": {
                "type": "string",
                "pattern": "^P(-?[0-9]+Y)?(-?[0-9]+M)?(-?[0-9]+(\\.[0-9]+)?W)?(-?[0-9]+(\\.[0-9]+)?D)?(T-?[0-9]+(\\.[0-9]+)?(H(-?[0-9]+(\\.[0-9]+)?M)?(-?[0-9]+(\\.[0-9]+)?S)?|M(-?[0-9]+(\\.[0-9]+)?S)?|S))?$",
                "minLength": 3,
                "maxLength": 128,
                "example": "P30D",
                "nullable": true,
                "x-docusign-adm-model": "com.docusign.platform.scalars@1.1.0.{Iso8601Duration}",
                "x-ds-definition-name": "Iso8601Duration"
            },
            "LanguageCode": {
                "description": "BCP47 language code",
                "type": "string",
                "pattern": "^[a-z]{2,8}(-[A-Za-z]{4})?(-[A-Za-z]{2}|-[0-9]{3})?$",
                "nullable": true,
                "example": "en-US",
                "x-docusign-adm-model": "com.docusign.platform.scalars@1.1.0.{LanguageCode}",
                "x-ds-definition-name": "LanguageCode"
            },
            "LocalDateTime": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[+-]\\d{2}:?\\d{2})?$",
                "description": "ISO 8601 formatted date-time string. May be local (no timezone), UTC (Z suffix), or include an explicit offset (e.g., +05:30, -0800).",
                "example": "2025-01-22T14:30:00-08:00",
                "x-ds-definition-name": "LocalDateTime"
            },
            "ResponseMetadata": {
                "type": "object",
                "description": "Control information and metadata for the response.",
                "properties": {
                    "page_limit": {
                        "$ref": "#/components/schemas/PageLimit"
                    },
                    "request_id": {
                        "$ref": "#/components/schemas/RequestId"
                    },
                    "response_timestamp": {
                        "$ref": "#/components/schemas/ResponseTimestamp"
                    },
                    "response_duration_ms": {
                        "$ref": "#/components/schemas/ResponseDurationMs"
                    }
                },
                "required": [
                    "response_timestamp",
                    "response_duration_ms",
                    "request_id"
                ],
                "x-ds-definition-name": "ResponseMetadata"
            },
            "PageLinks": {
                "type": "object",
                "description": "Hypermedia controls (HATEOAS) for navigating between pages in a paginated collection of results.\nLinks for the current page, next page, and previous page, with optional first and last page links.\n",
                "nullable": true,
                "properties": {
                    "first": {
                        "$ref": "#/components/schemas/PageLink"
                    },
                    "self": {
                        "$ref": "#/components/schemas/PageLink"
                    },
                    "next": {
                        "$ref": "#/components/schemas/PageLink"
                    }
                },
                "x-ds-definition-name": "PageLinks"
            },
            "PageLink": {
                "type": "object",
                "description": "A URL that references a specific page in the pagination process. This is typically used for navigation\nbetween paginated results.\n",
                "nullable": true,
                "properties": {
                    "href": {
                        "type": "string",
                        "format": "uri",
                        "description": "The URL for the referenced page.",
                        "example": "https://api.docusign.com/v1/accounts/12345678/agreements?limit=10&ctoken=abc123"
                    }
                },
                "required": [
                    "href"
                ],
                "x-ds-definition-name": "PageLink"
            },
            "PageLimit": {
                "description": "The maximum number of items that can be returned in a single page.",
                "type": "integer",
                "format": "int32",
                "example": 10,
                "minimum": 1,
                "nullable": true,
                "default": 25,
                "x-ds-definition-name": "PageLimit"
            },
            "PageTokenCurrent": {
                "$ref": "#/components/schemas/ContinuationToken",
                "x-ds-definition-name": "PageTokenCurrent"
            },
            "PageTokenNext": {
                "$ref": "#/components/schemas/ContinuationToken",
                "x-ds-definition-name": "PageTokenNext"
            },
            "PageTokenPrev": {
                "$ref": "#/components/schemas/ContinuationToken",
                "x-ds-definition-name": "PageTokenPrev"
            },
            "ResourceId": {
                "$ref": "#/components/schemas/UUID",
                "x-ds-definition-name": "ResourceId"
            },
            "ResourceMetadata": {
                "type": "object",
                "properties": {
                    "created_at": {
                        "description": "Timestamp when the agreement document was created.",
                        "type": "string",
                        "format": "date-time",
                        "x-docusign-adm-model": "com.docusign.platform@1.1.0.{Metadata.createdAt}",
                        "nullable": true
                    },
                    "created_by": {
                        "description": "User ID of the person who created the agreement document.",
                        "type": "string",
                        "x-docusign-adm-model": "com.docusign.platform@1.1.0.{Metadata.createdBy}",
                        "nullable": true
                    },
                    "modified_at": {
                        "description": "Timestamp when the agreement document was last modified.",
                        "type": "string",
                        "format": "date-time",
                        "x-docusign-adm-model": "com.docusign.platform@1.1.0.{Metadata.updatedAt}",
                        "nullable": true
                    },
                    "modified_by": {
                        "description": "User ID of the person who last modified the agreement document.",
                        "type": "string",
                        "x-docusign-adm-model": "com.docusign.platform@1.1.0.{Metadata.updatedBy}",
                        "nullable": true
                    },
                    "request_id": {
                        "$ref": "#/components/schemas/RequestId"
                    },
                    "response_timestamp": {
                        "$ref": "#/components/schemas/ResponseTimestamp"
                    },
                    "response_duration_ms": {
                        "$ref": "#/components/schemas/ResponseDurationMs"
                    }
                },
                "x-docusign-adm-model": "com.docusign.platform@1.1.0.{Metadata}",
                "x-ds-definition-name": "ResourceMetadata"
            },
            "ResourceSourceAccountId": {
                "description": "The Account ID of the source system who creates this entity, e.g. eSign Account ID",
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "example": "faee2c10-cae6-4d90-ba66-6d6d117d92c5",
                "nullable": true,
                "x-ds-definition-name": "ResourceSourceAccountId"
            },
            "ResourceSourceId": {
                "description": "The ID of the entity in the source system that this entity is associated with. For example, it could be an ID of the envelope in eSign.",
                "type": "string",
                "maxLength": 128,
                "example": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                "nullable": true,
                "x-ds-definition-name": "ResourceSourceId"
            },
            "ResourceSourceName": {
                "description": "The name of the source system who creates this entity, e.g. eSign, CLM, or Salesforce.",
                "type": "string",
                "maxLength": 128,
                "example": "Docusign eSign",
                "nullable": true,
                "x-ds-definition-name": "ResourceSourceName"
            },
            "LinkedData": {
                "description": "Identifies records in external systems which correlate with this agreement.",
                "type": "object",
                "properties": {
                    "application_name": {
                        "type": "string"
                    },
                    "object_name": {
                        "type": "string"
                    },
                    "record_id": {
                        "type": "string"
                    }
                },
                "x-ds-definition-name": "LinkedData"
            },
            "RequestId": {
                "description": "Unique identifier for the request, useful for tracking and debugging.",
                "type": "string",
                "format": "uuid",
                "example": "3f7c9e4b-851c-4f9b-89e7-123456789abc",
                "nullable": true,
                "x-ds-definition-name": "RequestId"
            },
            "ResponseTimestamp": {
                "description": "The timestamp indicating when the response was generated.",
                "type": "string",
                "format": "date-time",
                "example": "2024-10-17T14:30:00Z",
                "nullable": true,
                "x-ds-definition-name": "ResponseTimestamp"
            },
            "ResponseDurationMs": {
                "description": "The duration of time, in milliseconds, that the server took to process and respond\nto the request. This is measured from the time the server received the request\nuntil the time the response was sent.\n",
                "type": "integer",
                "format": "int32",
                "example": 150,
                "minimum": 0,
                "nullable": true,
                "x-ds-definition-name": "ResponseDurationMs"
            },
            "URL": {
                "type": "string",
                "format": "uri",
                "maxLength": 1024,
                "example": "https://example.com/resource/123",
                "nullable": true,
                "x-ds-definition-name": "URL"
            },
            "UserId": {
                "type": "string",
                "maxLength": 100,
                "x-docusign-adm-model": "com.docusign.scalars@1.1.0.{UserId}",
                "x-ds-definition-name": "UserId"
            },
            "UUID": {
                "type": "string",
                "pattern": "^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$",
                "default": "00000000-0000-0000-0000-000000000000",
                "x-docusign-adm-model": "concerto.platform.scalar@1.0.0.{UUID}",
                "x-ds-definition-name": "UUID"
            },
            "Agreement": {
                "description": "The Agreement component represents a comprehensive overview of a contractual document, detailing its unique identifiers, key properties, parties involved,\nand specific provisions. It includes general information such as the title, type, status, and important dates like effective and expiration dates.\nThe component also incorporates various provisions—legal, financial, lifecycle, and custom—along with metadata, external references, and related documents\nto offer a full representation of the structure and context of an agreement.\n",
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/AgreementId",
                        "description": "The unique identifier for the agreement document."
                    },
                    "title": {
                        "type": "string",
                        "description": "Title of the agreement document, summarizing its purpose.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocumentData.title}",
                        "nullable": true
                    },
                    "file_name": {
                        "type": "string",
                        "description": "The file name of the agreement.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocumentData.name}",
                        "nullable": true
                    },
                    "document_id": {
                        "type": "string",
                        "description": "The id the original agreement document.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocumentData.documentStorageId}",
                        "nullable": true
                    },
                    "type": {
                        "description": "The type of agreement.",
                        "type": "string",
                        "example": "Master Service Agreement",
                        "nullable": true
                    },
                    "category": {
                        "description": "Server-defined category based on the agreement type.",
                        "type": "string",
                        "example": "BusinessServices",
                        "nullable": true
                    },
                    "summary": {
                        "description": "A detailed summary of the agreement's key provisions and scope.",
                        "type": "string",
                        "maxLength": 135000,
                        "example": "This Master Service Agreement between Alpha Corp and Beta Ltd. defines the terms for services provided by Alpha Corp, including project scope, payment terms, and dispute resolution.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.summary}",
                        "nullable": true
                    },
                    "status": {
                        "description": "Current status of the agreement (e.g., PENDING, COMPLETE, INACTIVE)",
                        "type": "string",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.agreementStatus}",
                        "nullable": true
                    },
                    "review_status": {
                        "description": "The review status of the agreement, indicating whether it has been complete or pending.",
                        "type": "string",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.pendingExtractionReviewCount}",
                        "nullable": true
                    },
                    "review_completed_at": {
                        "description": "The date when the agreement extraction review was completed.",
                        "type": "string",
                        "format": "date-time",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.extractionReviewCompletedAt}",
                        "nullable": true
                    },
                    "parties": {
                        "description": "A list of parties involved in the agreement.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Party"
                        },
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.parties}",
                        "nullable": true
                    },
                    "provisions": {
                        "description": "\"The conditions or rules written in a legal agreement. The set of possible provisions is determined by the agreement type.\"\n",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GeneralProvisions"
                            },
                            {
                                "$ref": "#/components/schemas/LegalProvisions"
                            },
                            {
                                "$ref": "#/components/schemas/FinancialProvisions"
                            },
                            {
                                "$ref": "#/components/schemas/LifecycleProvisions"
                            }
                        ]
                    },
                    "custom_provisions": {
                        "$ref": "#/components/schemas/CustomProperty",
                        "description": "“A dictionary of user-defined provisions that extend the standard provisions set for this agreement type.\n  • Keys = names of additional terms supplied by the customer (e.g., early_termination_fee).\n  • Values = the term’s value, expressed as a primitive JSON type (string, number, boolean, etc.).\nThis object reflects the data model as-defined by the customer, including property names and data types.\nnote - Changes to the underlying data model will be reflected dynamically in this object at runtime.\n"
                    },
                    "additional_user_defined_data": {
                        "$ref": "#/components/schemas/CustomProperty",
                        "description": "User-defined/custom attributes included in this agreement.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.fields}"
                    },
                    "additional_custom_clm_data": {
                        "$ref": "#/components/schemas/CustomProperty",
                        "description": "Custom attributes originating from CLM in this agreement.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.clmLegacyCustomAttributes}"
                    },
                    "additional_custom_esign_data": {
                        "$ref": "#/components/schemas/CustomProperty",
                        "description": "Custom attributes originating from eSign in this agreement.",
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.eSignLegacyCustomFields}"
                    },
                    "related_agreement_documents": {
                        "type": "object",
                        "properties": {
                            "parent_agreement_document_id": {
                                "description": "ID of the parent agreement document, if related.",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AgreementId"
                                    }
                                ],
                                "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.parentAgreementId}"
                            }
                        }
                    },
                    "languages": {
                        "type": "array",
                        "description": "List of languages applicable to the agreement, identified using BCP-47 language codes.",
                        "items": {
                            "$ref": "#/components/schemas/LanguageCode"
                        },
                        "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument.languages}",
                        "nullable": true
                    },
                    "source_name": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ResourceSourceName"
                            }
                        ],
                        "description": "The name of the source system which created this agreement, e.g. eSign, CLM, or Salesforce."
                    },
                    "source_id": {
                        "$ref": "#/components/schemas/ResourceSourceId",
                        "description": "The ID of the resource in the source system associated with this agreement. For example, it could be an ID of the envelope in eSign."
                    },
                    "source_account_id": {
                        "description": "The Account ID of the source system who creates this entity, e.g. eSign Account ID",
                        "$ref": "#/components/schemas/ResourceSourceAccountId"
                    },
                    "linked_data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LinkedData"
                        }
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/ResourceMetadata"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/AgreementLinks"
                    },
                    "_actions": {
                        "$ref": "#/components/schemas/AgreementActions"
                    }
                },
                "required": [
                    "id"
                ],
                "x-docusign-adm-class-mapping": "com.docusign.platform@1.1.0.{AgreementDocument}",
                "x-ds-definition-name": "Agreement"
            },
            "AgreementActions": {
                "type": "object",
                "description": "Available actions on the agreement. Actions are conditionally present based on the current state of the resource.\n",
                "nullable": true,
                "properties": {
                    "change_type": {
                        "description": "Change the agreement type to a different configured type.\nOnly present when the agreement type is mutable.\n",
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "The URL for the change-type action.",
                                "example": "/v1/accounts/{accountId}/agreements/{agreementId}/actions/change-type"
                            },
                            "method": {
                                "type": "string",
                                "description": "The HTTP method for the action.",
                                "example": "PATCH"
                            },
                            "description": {
                                "type": "string",
                                "description": "Human-readable description of the action.",
                                "example": "Change the agreement type to a different configured type."
                            }
                        }
                    }
                },
                "x-ds-definition-name": "AgreementActions"
            },
            "AgreementLinks": {
                "type": "object",
                "description": "Hypermedia controls (HATEOAS) for agreement specific links to resources.\n",
                "nullable": true,
                "properties": {
                    "document": {
                        "$ref": "#/components/schemas/Link",
                        "example": "https://s1.us.services.docusign.net/document-public-dms/v1/accounts/accountId/documents/documentId"
                    },
                    "agreement_types": {
                        "description": "Link to the collection of configured agreement types for the account. Always present.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Link"
                            }
                        ],
                        "example": "/v1/accounts/{accountId}/agreement-types"
                    }
                },
                "x-ds-definition-name": "AgreementLinks"
            },
            "Link": {
                "type": "object",
                "description": "A URL that references a specific resource. \n",
                "nullable": true,
                "properties": {
                    "href": {
                        "type": "string",
                        "format": "uri",
                        "description": "The URL for the referenced page.",
                        "example": "https://api.docusign.com/v1/accounts/12345678/agreements?limit=10&ctoken=abc123"
                    }
                },
                "required": [
                    "href"
                ],
                "x-ds-definition-name": "Link"
            },
            "AgreementId": {
                "$ref": "#/components/schemas/ResourceId",
                "x-ds-definition-name": "AgreementId"
            },
            "AgreementsList": {
                "description": "A list of agreements",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Agreement"
                },
                "x-ds-definition-name": "AgreementsList"
            },
            "AgreementsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AgreementsList"
                    },
                    "response_metadata": {
                        "$ref": "#/components/schemas/ResponseMetadata"
                    },
                    "_links": {
                        "$ref": "#/components/schemas/PageLinks"
                    }
                },
                "x-ds-definition-name": "AgreementsResponse"
            },
            "AgreementSummary": {
                "description": "A high-level, AI-generated summary of an agreement document.",
                "type": "object",
                "properties": {
                    "summary": {
                        "type": "string",
                        "description": "An AI-generated summary of the agreement. This summary is provided for convenience\nand may not capture every detail of the original agreement.\n"
                    }
                },
                "x-ds-definition-name": "AgreementSummary"
            },
            "AnnualAgreementValue": {
[...]
