{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "DocuSign Click API",
        "description": "Elastic signing (also known as DocuSign Click)  lets you capture consent to standard agreement terms with a single click: terms and conditions, terms of service, terms of use, privacy policies, and more. The Click API lets you include this customizable elastic template solution in your DocuSign integrations.",
        "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
        "contact": {
            "name": "DocuSign Developer Center",
            "url": "https://developers.docusign.com/",
            "email": "devcenter@docusign.com"
        }
    },
    "host": "www.demo.docusign.net",
    "basePath": "/clickapi",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/json"
    ],
    "externalDocs": {
        "description": "See the DocuSign Click API Guide for more information.",
        "url": "https://developers.docusign.com/docs/click-api/"
    },
    "paths": {
        "/service_information": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets the current version and other information about the Click API.",
                "description": "The response provides information about the current version of the Click API.\n\n```json\n{\n  \"serviceVersions\": [\n    {\n      \"version\": \"v1\",\n      \"versionUrl\": \"https://demo.docusign.net/clickapi/v1\"\n    }\n  ],\n  \"buildVersion\": \"22.4.200.38251 (22.4.02.01.38251+46cfe7955197)\",\n  \"linkedSites\": [\n    \"https://demo.docusign.net\"\n  ]\n}\n```\n",
                "operationId": "ServiceInformation_GetServiceInformation",
                "consumes": [],
                "produces": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/serviceInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getServiceInformation",
                "x-ds-method": "getServiceInformation",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets all the elastic templates for a user.",
                "description": "Gets all the elastic templates for a user.\n\n**Note:** This endpoint returns a list of `clickwrapVersionSummaryResponse` objects. Each version of each elastic template is returned as a separate entry in the list.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.\n",
                "operationId": "Clickwraps_GetClickwraps",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Names of columns by which to filter and values to match on.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "The earliest date to return clickwraps from.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the elastic templates to return.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ownerUserId",
                        "in": "query",
                        "description": "The user ID of the owner.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "description": "The results for this endpoint are paginated. Use this parameter to indicate which page to return. The `minimumPagesRemaining` value in the response indicates whether to continue querying for additional pages.\n\nFor example, if the page size is 40:\n* If this property is set to 0 (the default), the endpoint returns results 1-40.\n* If this property is set to 1, the endpoint returns results 41-80.\n\nThe default value is 0.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The status of the elastic templates to filter by. One of:\n\n- `active`\n- `inactive`\n\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "The latest date to return clickwraps from.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwraps",
                "x-ds-method": "getClickwraps",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Creates an elastic template for an account.",
                "description": "Creates an elastic template for an account and returns the response with created agreement.\n\nThe resulting elastic template has its `status` property set to `draft`,\nand the `versionNumber` is `1.0`.\n\n```json\n{\n    \"accountId\": \"\"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n    \"clickwrapId\": \"\"c3197231-xxxx-xxxx-xxxx-6f34186eee23\",\n    \"clickwrapName\": \"HTML Only\",\n    \"versionId\": \"\"e27b59e2-xxxx-xxxx-xxxx-6a3b8b012ee8\",\n    \"versionNumber\": \"1.0\",\n    \"status\": \"draft\",\n    \"createdTime\": \"2023-02-09T19:20:09.2150957Z\",\n    \"lastModified\": \"2023-02-09T19:20:09.2150957Z\",\n    \"lastModifiedBy\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n    \"ownerUserId\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n    \"draftVersionId\": \"\"e27b59e2-xxxx-xxxx-xxxx-6a3b8b012ee8\",\n    \"owner\": {\n        \"userId\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n        \"userName\": \"Catherine Earnshaw\",\n        \"email\": \"catherine@example.com\"\n    },\n    \"dataFields\": []\n}\n```\n\nUse [ClickWraps: updateClickwrap](/docs/click-api/reference/accounts/clickwraps/updateclickwrap/)\nwith a request body like this to make the elastic template active:\n\n```json\n{\n\"status\": \"active\"\n}\n```\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.\n",
                "operationId": "Clickwraps_PostClickwrap",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/clickwrapRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createClickwrap",
                "x-ds-method": "createClickwrap",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Deletes elastic templates for an account.",
                "description": "Deletes the elastic templates for an account specified in the\n`clickwrapIds` query parameter.\nActive elastic templates cannot be deleted.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.\n\nThe response is a list of deleted elastic templates\nalong with their dispostition:\n\n```json\n{\n  \"clickwraps\": [\n    {\n      \"clickwrapId\": \"\"798d8186-xxxx-xxxx-xxxx-abc22eb46640\",\n      \"clickwrapName\": \"Archive this\",\n      \"status\": \"Active\",\n      \"deletionMessage\": \"Active clickwrap version cannot be deleted.\"\n    },\n    {\n      \"clickwrapId\": \"\"3390d1cb-xxxx-xxxx-xxxx-fcbf0bd9ee13\",\n      \"clickwrapName\": \"Mesoamerica 101\",\n      \"status\": \"Deleted\",\n      \"deletionSuccess\": true,\n      \"deletionMessage\": \"Successfully deleted the clickwrap.\"\n    }\n  ]\n}\n```",
                "operationId": "Clickwraps_DeleteClickwraps",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapIds",
                        "in": "query",
                        "description": "A comma-separated list of elastic template GUIDs to delete.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapsDeleteResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteClickwraps",
                "x-ds-method": "deleteClickwraps",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets a  single elastic template object.",
                "description": "Retrieves the definition of the specified elastic template.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "Clickwraps_GetClickwrap",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwrap",
                "x-ds-method": "getClickwrap",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "put": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Update properties of an elastic template.",
                "description": "Updates the properties of an elastic\ntemplate.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "Clickwraps_PutClickwrap",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapTransferRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/clickwrapTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateClickwrap",
                "x-ds-method": "updateClickwrap",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Deletes an elastic template and all of its versions.",
                "description": "Deletes the elastic template specified by `clickwrapId` and all of its versions.\nActive elastic templates are not deleted\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "Clickwraps_DeleteClickwrap",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versions",
                        "in": "query",
                        "description": "Not used.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionsDeleteResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteClickwrap",
                "x-ds-method": "deleteClickwrap",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements": {
            "post": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Creates a unique URL for the agreement\nthat you can embed in your application.\n",
                "description": "Creates a unique URL for the elastic signing agreement\nthat you can embed in your application. The URL expires after one hour.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage` and `click.send`.\n\nThe request must include at least the\n`clientUserId`. This is a value that you\ngenerate to identify the unique recipient\nof the agreement.\n\nIf you are using a [dynamic content][] document,\nyou can supply the values in the `documentData`\nproperty of the request, like this:\n\n```json\n{\n  \"clientUserId\": \"cl-bc7f-48a9\",\n  \"documentData\": {\n    \"fullName\": \"T. J. Fanning\",\n    \"email\": \"tj@example.com\",\n    \"company\": \"Fanning Industries\",\n    \"title\": \"Cat wrangler\",\n    \"date\": \"2022-10-13T05:17:14-07:00\"\n  }\n}\n```\n\nA response looks like this.\nThe `agreementUrl` is unique to the user identified by the `clientUserId`.\nYour user can open the URL to approve the agreement.\nThe `documentData` property appears only if you provided it in the request.\n\n```json\n{\n  \"accountId\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n  \"clickwrapId\": \"0e64e4a7-xxxx-xxxx-xxxx-ce5a93b162af\",\n  \"clientUserId\": \"tcl-bc7f-48a9j\",\n  \"agreementId\": \"1f346c7d-xxxx-xxxx-xxxx-a5c968666785\",\n  \"documents\": [ . . .],\n  \"consumerDisclosureEnabled\": true,\n  \"agreementUrl\": \"https://demo.docusign.net/clickapi/v1/redeem?agreementToken=AcTZT8g ... cxEqrUsA1lQ8DPPy05dE0\",\n  \"createdOn\": \"2022-10-20T16:27:25.1287685Z\",\n  \"status\": \"created\",\n  \"versionId\": \"5957716d-xxxx-xxxx-xxxx-e1594f00ff12\",\n  \"versionNumber\": 1,\n  \"settings\": {\n    \"displayName\": \"Agree with me\",\n    \"hasDeclineButton\": true,\n    . . .\n    \"statementAlignment\": \"bottom\"\n  },\n  \"documentData\": {\n    \"fullName\": \"T. J. Fanning\",\n    \"email\": \"tj@example.com\",\n    \"company\": \"Fanning Indusdtries\",\n    \"title\": \"Cat wrangler\",\n    \"date\": \"2022-10-13T05:17:14-07:00\"\n  }\n}\n```\n\n\nA successful response always includes\nthe following response. The response code\nis different, depending on whether\nthe user has agreed:\n\n| Response code | Meaning                  | Notes                                                             |\n| :------------ | :----------------------  | :---------------------------------------------------------------- |\n| 200           | User has agreed.         | The `agreementUrl` property does not appear in the response body. |\n| 201           | User has not yet agreed. |                                                                   |\n\n\n### Related topics\n\n- [Add dynamic content to your elastic template][dynamic content]\n- [How to embed an elastic template][embed-howto]\n\n\n[dynamic content]:  /docs/click-api/click101/customize-elastic-template-fields/#add-dynamic-content-to-your-elastic-template\n[embed-howto]:      /docs/click-api/how-to/embed-elastic-templates/\n",
                "operationId": "UserAgreements_PostHasAgreed",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userAgreementRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/userAgreementRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/userAgreementResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createHasAgreed",
                "x-ds-method": "createHasAgreed",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets a specific agreement for a specified elastic template.",
                "description": "Gets the agreement specified by `agreementId`.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage` or `click.send`.\n\n",
                "operationId": "UserAgreements_GetAgreement",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "agreementId",
                        "in": "path",
                        "description": "The agreement ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/userAgreementResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getAgreement",
                "x-ds-method": "getAgreement",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}/download": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets the completed user agreement PDF.",
                "description": "Gets the PDF of  `agreementId` for the clickwrap specified by `clickwrapId`.\n\nThe response to this method is the bytes of the PDF file.\nThe response includes the HTTP header `application/pdf`.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage` or `click.send`.",
                "operationId": "UserAgreements_GetAgreementPdf",
                "consumes": [],
                "produces": [
                    "application/pdf"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "agreementId",
                        "in": "path",
                        "description": "The agreement ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_coc",
                        "in": "query",
                        "description": "When **true,** the Certificate of Completion will be appended to the PDF. The default value is **false.**",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getAgreementPdf",
                "x-ds-method": "getAgreementPdf",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/bulk_agreements": {
            "post": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Starts an export of clickwrap agreements for a specified date range.",
                "description": "Starts an asynchronus process to export elastic template agreements\nfor a date range and status specified in the request body.\n\nAn email will be sent to the creator after it has been processed.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`",
                "operationId": "UserAgreements_PostBulkClickwrapAgreements",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkClickwrapRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkClickwrapRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createBulkClickwrapAgreements",
                "x-ds-method": "createBulkClickwrapAgreements",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/users": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Get elastic signing agreements.",
                "description": "Retrieves the user agreements for a specified elastic template. Each `userAgreementResponse` object describes a single user's response to the elastic signing agreement. You can also filter the agreements by date, status, page number, and client user ID.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "UserAgreements_GetClickwrapAgreements",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_user_id",
                        "in": "query",
                        "description": "The client ID.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "The earliest date to return agreements from.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "description": "The results for this endpoint are paginated. Use this parameter to indicate which page to return. The `minimumPagesRemaining` value in the response indicates whether to continue querying for additional pages.\n\nFor example, if the page size is 40:\n* If this property is set to 0 (the default), the endpoint returns results 1-40.\n* If this property is set to 1, the endpoint returns results 41-80.\n\nThe default value is 0.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The status of the elastic templates to return.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "The latest date to return agreements from.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapAgreementsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwrapAgreements",
                "x-ds-method": "getClickwrapAgreements",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets all the versions of an elastic template.",
                "description": "Gets all the versions of an elastic template for an account.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.\n\nThis example shows three versions:\ntwo major versions (1.0 and 2.0), and one minor version (2.1).\n\n```json\n{\n  \"accountId\": \"\"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n  \"clickwrapId\": \"\"b4cb1e3a-xxxx-xxxx-xxxx-3b3c21b853ea\",\n  \"clickwrapName\": \"The name of this\",\n  \"versions\": [\n    {\n      \"versionId\": \"\"0df7af2d-xxxx-xxxx-xxxx-c2b960b73fef\",\n      \"versionNumber\": \"2.1\",\n      \"status\": \"active\",\n      \"createdTime\": \"2023-02-24T01:45:21.0138703Z\",\n      \"lastModified\": \"2023-02-24T01:45:25.8540652Z\",\n      \"lastModifiedBy\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"requireReacceptance\": false,\n      \"ownerUserId\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"dataFields\": []\n    },\n    {\n      \"versionId\": \"\"4976a2f5-xxxx-xxxx-xxxx-dc1fd3b97c15\",\n      \"versionNumber\": \"2.0\",\n      \"status\": \"inactive\",\n      \"createdTime\": \"2023-02-24T01:36:07.6852505Z\",\n      \"lastModified\": \"2023-02-24T01:45:25.8853154Z\",\n      \"lastModifiedBy\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"requireReacceptance\": true,\n      \"ownerUserId\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"dataFields\": []\n    },\n    {\n      \"versionId\": \"\"987e83d7-xxxx-xxxx-xxxx-5348c4f89dca\",\n      \"versionNumber\": \"1.0\",\n      \"status\": \"inactive\",\n      \"createdTime\": \"2023-02-24T01:17:59.806101Z\",\n      \"lastModified\": \"2023-02-24T01:36:11.1843708Z\",\n      \"lastModifiedBy\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"requireReacceptance\": true,\n      \"ownerUserId\": \"\"7c430bdb-xxxx-xxxx-xxxx-538c11111ff7\",\n      \"dataFields\": []\n    }\n  ],\n  \"page\": 0,\n  \"pageSize\": 40,\n  \"minimumPagesRemaining\": 0\n}\n\n```",
                "operationId": "ClickwrapVersions_GetClickwrapVersions",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionsPagedResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwrapVersions",
                "x-ds-method": "getClickwrapVersions",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Creates a new elastic template version.",
                "description": "Creates a new version of an existing elastic template.\nIn a new version, you can replace the uploaded documents,\nchange the display settings,\nand change the name of the elastic template.\n\nIf the `requireReacceptance` property of the request body is **false,**\nthe minor version number is incremented. When this property is **true,**\nthe major version number is incremented, and the minor version number\nis reset to zero.\n\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "ClickwrapVersions_PostClickwrapVersion",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/clickwrapRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createClickwrapVersion",
                "x-ds-method": "createClickwrapVersion",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Deletes the versions of an elastic template.",
                "description": "Deletes all versions of an elastic template,\nor only the ones specified in the\n`clickwrapVersionIds` query parameter.\n\n**Note:** Be sure to check the `deletionSuccess` and `deletionMessage` properties in the response.\n\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "ClickwrapVersions_DeleteClickwrapVersions",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapVersionIds",
                        "in": "query",
                        "description": "A comma-separated list of elastic template version IDs to delete.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionsDeleteResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteClickwrapVersions",
                "x-ds-method": "deleteClickwrapVersions",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionId}": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets a specific version of an elastic template by version ID.",
                "description": "Gets the version specified by `versionId`  from the elastic template `clickwrapId`.\nThe `versionId` can be the version's `versionId` GUID or the `versionNumber` string.\n\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "ClickwrapVersions_GetClickwrapVersion",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version.\nThis value can be the version's GUID or the version string, such as `1.3`.\n",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwrapVersion",
                "x-ds-method": "getClickwrapVersion",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "put": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Update properties of an elastic template by its version ID.",
                "description": "Updates the properties of an elastic\ntemplate version specified by `versionId`.\n\n\nThe `versionId` can be the version's `versionId` GUID or the `versionNumber` string.\n\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "ClickwrapVersions_PutClickwrapVersion",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version.\nThis value can be the version's GUID or the version string, such as `1.3`.\n",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapRequest",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/clickwrapRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateClickwrapVersion",
                "x-ds-method": "updateClickwrapVersion",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Deletes an elastic template version by version ID.",
                "description": "Deletes the elastic template version specified by `versionId` of the elastic template specified by `clickwrapId`.\n\n**Note:** Be sure to check the `deletionSuccess` and `deletionMessage` properties of the response.\nIn some cases `deletionSuccess` may be **false** even though the HTTP request response may be `200 (OK)`.\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.\n",
                "operationId": "ClickwrapVersions_DeleteClickwrapVersion",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version.\nThis value can be the version's GUID or the version string, such as `1.3`.\n",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapVersionDeleteResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteClickwrapVersion",
                "x-ds-method": "deleteClickwrapVersion",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionId}/documents/{orderOrDisclosure}": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Downloads a document at an order within the agreement.",
                "description": "Downloads a specific document from the agreement presented to the user.\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.sign`",
                "operationId": "UserAgreements_GetAgreementDocument",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderOrDisclosure",
                        "in": "path",
                        "description": "The order of the document or consumer_disclosure.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version.\nThis value can be the version's GUID or the version string, such as `1.3`.\n",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/document"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getAgreementDocument",
                "x-ds-method": "getAgreementDocument",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        },
        "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionId}/users": {
            "get": {
                "tags": [
                    "ClickWraps"
                ],
                "summary": "Gets the agreement responses for an elastic template version by version ID.",
                "description": "Gets the agreement responses for a specific version.\n\n\n[Required authentication scopes](/docs/click-api/click101/auth/): `click.manage`.",
                "operationId": "UserAgreements_GetClickwrapVersionAgreements",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID GUID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "clickwrapId",
                        "in": "path",
                        "description": "The GUID of the elastic template.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version.\nThis value can be the version's GUID or the version string, such as `1.3`.\n",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_user_id",
                        "in": "query",
                        "description": "The client user ID to filter to a single user's agreements.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "The earliest date to return agreements from.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "description": "The results for this endpoint are paginated. Use this parameter to indicate which page to return. The `minimumPagesRemaining` value in the response indicates whether to continue querying for additional pages.\n\nFor example, if the page size is 40:\n* If this property is set to 0 (the default), the endpoint returns results 1-40.\n* If this property is set to 1, the endpoint returns results 41-80.\n\nThe default value is 0.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Elastic template status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "The latest date to return agreements from.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/clickwrapAgreementsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getClickwrapVersionAgreements",
                "x-ds-method": "getClickwrapVersionAgreements",
                "x-ds-service": "Uncategorized",
                "x-ds-in-sdk": true
            },
            "parameters": []
        }
    },
    "definitions": {
        "bulkClickwrapRequest": {
            "description": "Data used to start a bulk agreements export.",
            "type": "object",
            "properties": {
                "fromDate": {
                    "description": "The earliest date to return agreements from.",
                    "type": "object"
                },
                "status": {
                    "description": "User agreement status. One of:\n\n- `agreed`\n- `declined`",
                    "type": "string"
                },
                "toDate": {
                    "description": "The latest date to return agreements from.",
                    "type": "object"
                }
            },
            "x-ds-definition-name": "bulkClickwrapRequest",
            "x-ms-summary": "Data used to start a bulk agreements export."
        },
        "clickwrapAgreementsResponse": {
            "type": "object",
            "properties": {
                "beginCreatedOn": {
                    "description": "User agreements from this datetime.",
                    "type": "object"
                },
                "minimumPagesRemaining": {
                    "format": "int32",
                    "description": "Number of pages remaining in the response.",
                    "type": "integer"
                },
                "page": {
                    "format": "int32",
                    "description": "The number of the current page.",
                    "type": "integer"
                },
                "pageSize": {
                    "format": "int32",
                    "description": "The number of items per page.",
                    "type": "integer"
                },
                "userAgreements": {
                    "description": "An array of user agreements.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/userAgreementResponse"
                    }
                }
            },
            "x-ds-definition-name": "clickwrapAgreementsResponse",
            "description": "The results are paginated.\nUse the following properties to navigate the pages.\nUse the `page_number` query parameter to specify a page.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n",
            "x-ms-summary": "The results are paginated.\nUse the following properties to navigate the pages.\nUse the `page_number` query parameter to specify a page.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n"
        },
        "clickwrapDeleteResponse": {
            "description": "The result of a clickwrap deletion request.",
            "type": "object",
            "properties": {
                "clickwrapId": {
                    "description": "The GUID of the elastic template.",
                    "type": "string"
                },
                "clickwrapName": {
                    "description": "The name of the elastic template.",
                    "type": "string"
                },
                "deletionMessage": {
                    "description": "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Elastic template is already deleted.\n- `deletionSuccess`: Successfully deleted the elastic template.\n- `deletionFailure`: Failed to delete the elastic template.\n- `cannotDelete`: Active elastic template versions cannot be deleted.\n",
                    "type": "string"
                },
                "deletionSuccess": {
                    "description": "**True** if the elastic template was deleted successfully. **False** otherwise.",
                    "type": "boolean"
                },
                "status": {
                    "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapDeleteResponse",
            "x-ms-summary": "The result of a clickwrap deletion request."
        },
        "clickwrapRequest": {
            "description": "Request body for working with elastic templates.",
            "type": "object",
            "properties": {
                "clickwrapName": {
                    "description": "The name of the elastic template.\n\nRequired in [ClickWraps: createClickwrap](/docs/click-api/reference/accounts/clickwraps/createclickwrap/).",
                    "type": "string"
                },
                "dataFields": {
                    "description": "An array of data fields available to be inserted into the documents.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataField"
                    }
                },
                "displaySettings": {
                    "$ref": "#/definitions/displaySettings",
                    "description": "Display settings for the elastic template. This object is required."
                },
                "documents": {
                    "description": "An array of documents. This object is required.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/document"
                    }
                },
                "fieldsToNull": {
                    "description": "Specifies whether `scheduledReacceptance` and `scheduledDate` should be cleared. May be one of:\n\n- `\"scheduledReacceptance\"`\n- `\"scheduledDate\"`\n- `\"scheduledReacceptance,scheduledDate\"`\n",
                    "type": "string"
                },
                "isMajorVersion": {
                    "description": "Not used.\n",
                    "type": "boolean"
                },
                "isShared": {
                    "description": "When **true,** indicates that the elastic template is shared with one or more users in the account.",
                    "type": "boolean"
                },
                "name": {
                    "description": "Not used.",
                    "type": "string"
                },
                "requireReacceptance": {
                    "description": "When **true,** requires signers who have previously agreed to this\nelastic signing agreement to sign again.\nThe major version number is incremented, and the minor version number is set to zero.\nFor example:  `2.1` to `3.0`\n\nWhen **false,** signers who have previously agreed do not need to sign again.\nOnly the minor version number is incremented. For example:  `2.1` to `2.2`\n",
                    "type": "boolean"
                },
                "scheduledDate": {
                    "description": "The time and date when this elastic template is activated.",
                    "type": "object"
                },
                "scheduledReacceptance": {
                    "$ref": "#/definitions/clickwrapScheduledReacceptance",
                    "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
                },
                "status": {
                    "description": "Status of an elastic template. This property is read-only. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                },
                "transferFromUserId": {
                    "description": "Not used. To update the user ID of an elastic template, use the [updateClickwrap](/docs/click-api/reference/accounts/clickwraps/updateclickwrap/) endpoint.",
                    "type": "string"
                },
                "transferToUserId": {
                    "description": "Not used. To update the user ID of an elastic template, use the [updateClickwrap](/docs/click-api/reference/accounts/clickwraps/updateclickwrap/) endpoint.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapRequest",
            "x-ms-summary": "Request body for working with elastic templates."
        },
        "clickwrapScheduledReacceptance": {
            "type": "object",
            "properties": {
                "recurrenceInterval": {
                    "format": "int32",
                    "description": "The time between recurrences specified in `recurrenceIntervalType` units.\n\nThe minimum and maximum values depend on `recurrenceIntervalType`:\n\n- `days`: 1 - 365\n- `weeks`: 1 - 52\n- `months`: 1 - 12\n- `years`: 1",
                    "type": "integer"
                },
                "recurrenceIntervalType": {
                    "description": "The units of the `recurrenceInterval`. Must be one of:\n\n- `days`\n- `weeks`\n- `month`\n- `years`\n",
                    "type": "string"
                },
                "startDateTime": {
                    "description": "The date when the recurrence interval starts.",
                    "type": "object"
                }
            },
            "x-ds-definition-name": "clickwrapScheduledReacceptance",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapsDeleteResponse": {
            "type": "object",
            "properties": {
                "clickwraps": {
                    "description": "An array of clickwrap deletion results.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/clickwrapDeleteResponse"
                    }
                }
            },
            "x-ds-definition-name": "clickwrapsDeleteResponse",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapTransferRequest": {
            "description": "Data used to transfer a clickwrap from one user to another.",
            "type": "object",
            "properties": {
                "transferFromUserId": {
                    "description": "ID of the user to transfer from. This property is required.",
                    "type": "string"
                },
                "transferToUserId": {
                    "description": "ID of the user to transfer to. This property is required.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapTransferRequest",
            "x-ms-summary": "Data used to transfer a clickwrap from one user to another."
        },
        "clickwrapVersion": {
            "type": "object",
            "properties": {
                "clickwrapVersionId": {
                    "description": "The unique GUID of this elastic template version.",
                    "type": "string"
                },
                "createdTime": {
                    "description": "The time that the elastic template was created.",
                    "type": "object"
                },
                "dataFields": {
                    "description": "An array of `dataField` objects.\n",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataField"
                    }
                },
                "lastModified": {
                    "description": "The time that the elastic template was last modified.",
                    "type": "object"
                },
                "lastModifiedBy": {
                    "description": "The user GUID of the last user who modified this elastic template.",
                    "type": "string"
                },
                "ownerUserId": {
                    "description": "The user GUID of the owner of this clickwrap.",
                    "type": "string"
                },
                "requireReacceptance": {
                    "description": "When **true,** requires signers who have previously agreed to this\nelastic signing agreement to sign again.\nThe major version number is incremented, and the minor version number is set to zero.\nFor example:  `2.1` to `3.0`\n\nWhen **false,** signers who have previously agreed do not need to sign again.\nOnly the minor version number is incremented. For example:  `2.1` to `2.2`\n",
                    "type": "boolean"
                },
                "scheduledDate": {
                    "description": "The time and date when this elastic template is activated.",
                    "type": "object"
                },
                "scheduledReacceptance": {
                    "$ref": "#/definitions/clickwrapScheduledReacceptance",
                    "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
                },
                "status": {
                    "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                },
                "versionId": {
                    "description": "The GUID of the version.",
                    "type": "string"
                },
                "versionNumber": {
                    "description": "Human-readable version number. For example `1.2`.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapVersion",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapVersionDeleteResponse": {
            "type": "object",
            "properties": {
                "clickwrapVersionId": {
                    "description": "The unique GUID of this elastic template version.",
                    "type": "string"
                },
                "createdTime": {
                    "description": "The time that the elastic template was created.",
                    "type": "object"
                },
                "dataFields": {
                    "description": "An array of `dataField` objects.\n",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataField"
                    }
                },
                "deletionMessage": {
                    "description": "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Elastic template is already deleted.\n- `deletionSuccess`: Successfully deleted the elastic template.\n- `deletionFailure`: Failed to delete the elastic template.\n- `cannotDelete`: Active elastic template versions cannot be deleted.\n",
                    "type": "string"
                },
                "deletionSuccess": {
                    "description": "**True** if the elastic template was deleted successfully. **False** otherwise.",
                    "type": "boolean"
                },
                "lastModified": {
                    "description": "The time that the elastic template was last modified.",
                    "type": "object"
                },
                "lastModifiedBy": {
                    "description": "The user GUID of the last user who modified this elastic template.",
                    "type": "string"
                },
                "ownerUserId": {
                    "description": "The user ID of the owner of this clickwrap.",
                    "type": "string"
                },
                "requireReacceptance": {
                    "description": "When **true,** requires signers who have previously agreed to this\nelastic signing agreement to sign again.\nThe major version number is incremented, and the minor version number is set to zero.\nFor example:  `2.1` to `3.0`\n\nWhen **false,** signers who have previously agreed do not need to sign again.\nOnly the minor version number is incremented. For example:  `2.1` to `2.2`\n",
                    "type": "boolean"
                },
                "scheduledDate": {
                    "description": "The time and date when this elastic template is activated.",
                    "type": "object"
                },
                "scheduledReacceptance": {
                    "$ref": "#/definitions/clickwrapScheduledReacceptance",
                    "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
                },
                "status": {
                    "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                },
                "versionId": {
                    "description": "The ID of the version.",
                    "type": "string"
                },
                "versionNumber": {
                    "description": "Human-readable version number. For example `1.2`.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapVersionDeleteResponse",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapVersionResponse": {
            "type": "object",
            "properties": {
                "accountId": {
                    "description": "The external account number (int) or account ID GUID.",
                    "type": "string"
                },
                "clickwrapId": {
                    "description": "The GUID of the elastic template.",
                    "type": "string"
                },
                "clickwrapName": {
                    "description": "The name of the elastic template.",
                    "type": "string"
                },
                "clickwrapVersionId": {
                    "description": "The unique GUID of this elastic template version.",
                    "type": "string"
                },
                "createdTime": {
                    "description": "The time that the elastic template was created.",
                    "type": "object"
                },
                "dataFields": {
                    "description": "An array of `dataField` objects.\n",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataField"
                    }
                },
                "displaySettings": {
                    "$ref": "#/definitions/displaySettings",
                    "description": "Display settings for an elastic template."
                },
                "documents": {
                    "description": "An array of documents.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/document"
                    }
                },
                "lastModified": {
                    "description": "The time that the elastic template was last modified.",
                    "type": "object"
                },
                "lastModifiedBy": {
                    "description": "The user GUID of the last user who modified this elastic template.",
                    "type": "string"
                },
                "ownerUserId": {
                    "description": "The user ID of the owner of this clickwrap.",
                    "type": "string"
                },
                "requireReacceptance": {
                    "description": "When **true,** requires signers who have previously agreed to this\nelastic signing agreement to sign again.\nThe major version number is incremented, and the minor version number is set to zero.\nFor example:  `2.1` to `3.0`\n\nWhen **false,** signers who have previously agreed do not need to sign again.\nOnly the minor version number is incremented. For example:  `2.1` to `2.2`\n",
                    "type": "boolean"
                },
                "scheduledDate": {
                    "description": "The time and date when this elastic template is activated.",
                    "type": "object"
                },
                "scheduledReacceptance": {
                    "$ref": "#/definitions/clickwrapScheduledReacceptance",
                    "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
                },
                "status": {
                    "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                },
                "versionId": {
                    "description": "The ID of the version.",
                    "type": "string"
                },
                "versionNumber": {
                    "description": "Human-readable version number. For example `1.2`.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapVersionResponse",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapVersionsDeleteResponse": {
            "type": "object",
            "properties": {
                "clickwrapId": {
                    "description": "The GUID of the elastic template.",
                    "type": "string"
                },
                "clickwrapName": {
                    "description": "The name of the elastic template.",
                    "type": "string"
                },
                "versions": {
                    "description": "An array of delete responses.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/clickwrapVersionDeleteResponse"
                    }
                }
            },
            "x-ds-definition-name": "clickwrapVersionsDeleteResponse",
            "description": "",
            "x-ms-summary": ""
        },
        "clickwrapVersionsPagedResponse": {
            "description": "The results are paginated.\nUse the following properties to navigate the pages.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n\n",
            "type": "object",
            "properties": {
                "accountId": {
                    "description": "The external account number (int) or account ID GUID.",
                    "type": "string"
                },
                "clickwrapId": {
                    "description": "The GUID of the elastic template.",
                    "type": "string"
                },
                "clickwrapName": {
                    "description": "The name of the elastic template.",
                    "type": "string"
                },
                "minimumPagesRemaining": {
                    "format": "int32",
                    "description": "An array of clickwrap versions.",
                    "type": "integer"
                },
                "page": {
                    "format": "int32",
                    "description": "The number of the current page.",
                    "type": "integer"
                },
                "pageSize": {
                    "format": "int32",
                    "description": "The number of items per page.",
                    "type": "integer"
                },
                "versions": {
                    "description": "An array of elastic template versions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/clickwrapVersion"
                    }
                }
            },
            "x-ds-definition-name": "clickwrapVersionsPagedResponse",
            "x-ms-summary": "The results are paginated.\nUse the following properties to navigate the pages.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n\n"
        },
        "clickwrapVersionsResponse": {
            "description": "The results are paginated.\nUse the following properties to navigate the pages.\nUse the `page_number` query parameter to specify a page.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n",
            "type": "object",
            "properties": {
                "clickwraps": {
                    "description": "An array of `clickwrapVersionSummaryResponse` objects.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/clickwrapVersionSummaryResponse"
                    }
                },
                "minimumPagesRemaining": {
                    "format": "int32",
                    "description": "Number of pages remaining in the response.",
                    "type": "integer"
                },
                "page": {
                    "format": "int32",
                    "description": "The number of the current page.",
                    "type": "integer"
                },
                "pageSize": {
                    "format": "int32",
                    "description": "The number of items per page.",
                    "type": "integer"
                }
            },
            "x-ds-definition-name": "clickwrapVersionsResponse",
            "x-ms-summary": "The results are paginated.\nUse the following properties to navigate the pages.\nUse the `page_number` query parameter to specify a page.\n\n- `page`: The page number of the current results.\n- `pageSize`: The number of results in the current page.\n- `minimumPagesRemaining`: The number of pages that follow this one.\n"
        },
        "clickwrapVersionSummaryResponse": {
            "type": "object",
            "properties": {
                "accountId": {
                    "description": "The external account number (int) or account ID GUID.",
                    "type": "string"
                },
                "clickwrapId": {
                    "description": "The GUID of the elastic template.",
                    "type": "string"
                },
                "clickwrapName": {
                    "description": "The name of the elastic template.",
                    "type": "string"
                },
                "clickwrapVersionId": {
                    "description": "The unique GUID of this elastic template version.",
                    "type": "string"
                },
                "createdTime": {
                    "description": "The time that the elastic template was created.",
                    "type": "object"
                },
                "dataFields": {
                    "description": "An array of `dataField` objects.\n",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dataField"
                    }
                },
                "lastModified": {
                    "description": "The time that the elastic template was last modified.",
                    "type": "object"
                },
                "lastModifiedBy": {
                    "description": "The user GUID of the last user who modified this elastic template.",
                    "type": "string"
                },
                "ownerUserId": {
                    "description": "The user ID of the owner of this clickwrap.",
                    "type": "string"
                },
                "requireReacceptance": {
                    "description": "When **true,** requires signers who have previously agreed to this\nelastic signing agreement to sign again.\nThe major version number is incremented, and the minor version number is set to zero.\nFor example:  `2.1` to `3.0`\n\nWhen **false,** signers who have previously agreed do not need to sign again.\nOnly the minor version number is incremented. For example:  `2.1` to `2.2`\n",
                    "type": "boolean"
                },
                "scheduledDate": {
                    "description": "The time and date when this elastic template is activated.",
                    "type": "object"
                },
                "scheduledReacceptance": {
                    "$ref": "#/definitions/clickwrapScheduledReacceptance",
                    "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
                },
                "status": {
                    "description": "Clickwrap status. Possible values:\n\n- `draft`\n- `active`\n- `inactive`\n- `deleted`",
                    "type": "string"
                },
                "versionId": {
                    "description": "The GUID of the version. ",
                    "type": "string"
                },
                "versionNumber": {
                    "description": "Human-readable version number. For example `1.2`.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "clickwrapVersionSummaryResponse",
            "description": "",
            "x-ms-summary": ""
        },
        "dataField": {
            "type": "object",
            "properties": {
                "label": {
                    "description": "The label of the datafield. This is the text that is displayed to the user.",
                    "type": "string"
                },
                "name": {
                    "description": "A string used to refer to the field internally. The name must be unique within an elastic template.\n\nThe following fields are predefined by the API:\n- `fullName`\n- `email`\n- `company`\n- `title`\n- `date`\n",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the field. Valid values:\n\n- `STRING`\n- `NUMBER`\n- `DATE`\n",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "dataField",
            "description": "Describes a single data field.",
            "x-ms-summary": "Describes a single data field."
        },
        "displaySettings": {
            "description": "Information about how an agreement is displayed.",
            "type": "object",
            "properties": {
                "actionButtonAlignment": {
                    "description": "Position of the Accept button in the agreement. One of \n\n- `right`\n- `left`\n",
                    "type": "string"
                },
                "allowClientOnly": {
                    "description": "When **true,** this agreement can be be used in client-only integrations",
                    "type": "boolean"
                },
                "allowedHosts": {
                    "description": "Hosts that can host the elastic template.\n\nIt is an error if the elastic template didn't come from one of these hosts.\n",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "brandId": {
                    "description": "The signing brand ID.",
                    "type": "string"
                },
                "consentButtonText": {
                    "description": "Text on the agree button.",
                    "type": "string"
                },
                "consentText": {
                    "description": "The text on agree button.",
                    "type": "string"
                },
                "declineButtonText": {
                    "description": "The text on the decline button.",
                    "type": "string"
                },
                "displayName": {
                    "description": "The display name of the user agreement.",
                    "type": "string"
                },
                "documentDisplay": {
                    "description": "Display type: link or document",
                    "type": "string"
                },
                "downloadable": {
                    "description": "**True** if the agreement is downloadable.",
                    "type": "boolean"
                },
                "format": {
                    "description": "Display format: inline or modal.",
                    "type": "string"
                },
                "hasDeclineButton": {
                    "description": "**True** if the agreement has a decline checkbox.",
                    "type": "boolean"
                },
                "mustRead": {
                    "description": "**True** if the user needs to scroll to the end of the document.\n",
                    "type": "boolean"
                },
                "mustView": {
                    "description": "Reserved for DocuSign.",
                    "type": "boolean"
                },
                "recordDeclineResponses": {
                    "description": "When **true,** this agreement records decline actions.",
                    "type": "boolean"
                },
                "requireAccept": {
                    "description": "**True** if accept is required.\n",
                    "type": "boolean"
                },
                "sendToEmail": {
                    "description": "**True** if send to email is applicable.\n",
                    "type": "boolean"
                },
                "statementAlignment": {
                    "description": "Position of the agreement statement. One of \n\n- `top`\n- `bottom`\n",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "displaySettings",
            "x-ms-summary": "Information about how an agreement is displayed."
        },
        "document": {
            "description": "Information about a document.",
            "type": "object",
            "properties": {
                "documentBase64": {
                    "description": "The base64-encoded contents of the document.",
                    "type": "string"
                },
                "documentDisplay": {
                    "description": "Display type: link or document",
                    "type": "string"
                },
                "documentHtml": {
                    "description": "The HTML representation of the document.",
                    "type": "string"
                },
                "documentName": {
                    "description": "The name of the document.",
                    "type": "string"
                },
                "fileExtension": {
                    "description": "The file extension of the document.",
                    "type": "string"
                },
                "mustRead": {
                    "description": "**True** if the user needs to scroll to the end of the document.\n",
                    "type": "boolean"
                },
                "mustView": {
                    "description": "Reserved for DocuSign.",
                    "type": "boolean"
                },
                "order": {
                    "format": "int32",
                    "description": "The order of document layout.",
                    "type": "integer"
                }
            },
            "x-ds-definition-name": "document",
            "x-ms-summary": "Information about a document."
        },
        "errorDetails": {
            "description": "Error details.",
            "type": "object",
            "properties": {
                "errorCode": {
                    "description": "The error code.",
                    "type": "string"
                },
                "message": {
                    "description": "The error message.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "errorDetails",
            "x-ms-summary": "Error details."
        },
        "serviceInformation": {
            "type": "object",
            "properties": {
                "buildBranch": {
                    "description": "The internal source control branch.",
                    "type": "string"
                },
                "buildBranchDeployedDateTime": {
                    "description": "The date-time this branch was deployed.",
                    "type": "string"
                },
                "buildSHA": {
                    "description": "The internal source control SHA.",
                    "type": "string"
                },
                "buildVersion": {
                    "description": "The internal build version information.",
                    "type": "string"
                },
                "linkedSites": {
                    "description": "An array of URLs (strings) of related sites.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "serviceVersions": {
                    "description": "An array of `serviceVersion` objects.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/serviceVersion"
                    }
                }
            },
            "x-ds-definition-name": "serviceInformation",
            "description": "",
            "x-ms-summary": ""
        },
        "serviceVersion": {
            "type": "object",
            "properties": {
                "version": {
                    "description": "The human-readable semver version string.",
                    "type": "string"
                },
                "versionUrl": {
                    "description": "The URL where this version of the API can be found.",
                    "type": "string"
                }
            },
            "x-ds-definition-name": "serviceVersion",
            "description": "",
            "x-ms-summary": ""
        },
        "userAgreementRequest": {
            "description": "Data used to create the agreement.",
            "type": "object",
            "properties": {
                "clientUserId": {
                    "description": "A unique value that identifies a user.\nYou can use anything that your system uses\nto identify unique users, such as\nemployee IDs, email addresses, and surrogate keys as the value of `clientUserId`.\n\nA clickwrap with a specific `clientUserId` will not appear again\nonce it has been accepted.\n",
                    "type": "string"
                },
                "documentData": {
                    "description": "This property specifies the data used to create\nan elastic template with [dynamic content][].\n\n[dynamic content]: /docs/click-api/click101/customize-elastic-template-fields/#add-dynamic-content-to-your-elastic-template\n",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "metadata": {
                    "description": "A customer-defined string you can use in requests. This string will appear in the corresponding response.",
                    "type": "string"
                },
                "returnUrl": {
[...]
