{
  "openapi": "3.1.0",
  "info": {
      "title": "Agreements API",
      "version": "0.2.4",
      "description": "API for retrieving agreements",
      "termsOfService": "https://www.docusign.com/legal/terms-and-conditions/developers",
      "license": {
          "name": "",
          "url": "https://www.docusign.com/legal/terms-and-conditions/developers"
      },
      "contact": {
          "name": "Docusign Developer Center",
          "email": "devcenter@docusign.com",
          "url": "https://developers.docusign.com"
      }
  },
  "servers": [
      {
          "url": "https://api.docusign.com/v1/accounts/{accountId}",
          "description": "Production server",
          "variables": {
              "accountId": {
                  "default": "00000000-0000-0000-0000-000000000000",
                  "description": "The ID of the account to which the agreement belongs"
              }
          }
      }
  ],
  "security": [
      {
          "OAuth2Auth": [
              "read",
              "write"
          ]
      }
  ],
  "paths": {
      "/agreements": {
          "get": {
              "operationId": "GetAgreementsList",
              "summary": "Retrieve a list of agreements",
              "description": "This operation retrieves a list of all agreements available in the system. It provides a high-level overview of each agreement, including its unique identifier (`id`), title, type, status, and involved parties. The list also includes important metadata, such as the agreement's creation and modification timestamps, and information on the agreement's source system (e.g., eSign, CLM).\n\nEach agreement entry includes essential details that allow users to quickly assess the agreements and determine which ones are relevant for their needs. For example, the agreement's status can help users understand whether an agreement is still active, pending, or completed.\n\nThe response also includes provisions that outline the key legal, financial, and lifecycle conditions, along with custom user-defined fields, providing a comprehensive understanding of each agreement.\n\n### Use Cases:\n- **Retrieving a list of agreements for integration into external systems**: Export or sync agreement data into other platforms (e.g., CRM, ERP systems) to align business processes across different tools.\n- **Providing data for RAG (Retrieval-Augmented Generation) applications or Copilots**: The list of agreements can be a valuable data source for AI/LLM-based applications that answer user queries about agreements. \n  It allows Copilots to understand what agreements exist and offer insights based on their details.\n- **Filtering agreements by type or status**: Determine which agreements are active, pending, or completed, and gather a summary of key provisions across multiple agreements.\n- **Auditing or reporting**: Generate a report on agreements based on type, status, or date created, helping with compliance tracking and internal reviews.\n- **Metadata tracking**: Track when agreements were created, modified, and by whom, ensuring proper governance and version control.\n\n### Key Features:\n- **Comprehensive Agreement Overview**: Provides high-level visibility into all agreements, with essential details for each one, including status, type, and involved parties.\n- **Metadata and Provisions**: Returns important metadata and provisions (legal, financial, and custom) for each agreement, helping users understand their obligations and contract terms.\n- **Source System Information**: Captures details about where the agreement originated (e.g., eSign, CLM), making it easier to integrate and track agreements across different business systems.\n- **Data for AI Applications**: The operation is designed to support LLM-powered apps, making it ideal for use in RAG-based applications and Copilots that query agreements for decision-making or information purposes.\n",
              "tags": [
                  "Agreements"
              ],
              "parameters": [
                  {
                      "name": "limit",
                      "description": "The maximum number of items that can be returned in a single page.",
                      "in": "query",
                      "required": false,
                      "schema": {
                          "$ref": "#/components/schemas/PageLimit"
                      }
                  },
                  {
                      "name": "ctoken",
                      "description": "An opaque token that helps retrieve the a page of data.",
                      "in": "query",
                      "required": false,
                      "schema": {
                          "$ref": "#/components/schemas/ContinuationToken"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "examples": {
                          "AgreementsCollection": {
                              "description": "A collection of agreements.",
                              "value": {
                                  "data": [
                                      {
                                          "AddendumDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "48e593bd-73e8-455f-92e7-7299fef08dea",
                                              "type": "Addendum agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "AmendmentDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "2c314bf6-a358-4e54-9da2-bf1b8d90a3d5",
                                              "type": "Amendment agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "related_agreement_documents": {
                                                  "parent_agreement_document_id": "77b85334-6da9-4f08-a516-f8f029d8c3c5"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "AppendixDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "67f0ec03-db14-43f9-a220-ccb6556a440a",
                                              "type": "Appendix agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "AttachmentDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "c7175542-0377-48cd-b0b6-263ed90d7ecb",
                                              "type": "Attachment agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "CertificateOfInsuranceDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "cbc079d9-d96a-4f07-a86b-165224e06b64",
                                              "type": "Certificate of Insurance",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "jurisdiction": "California",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "ChangeOrderDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "1b83331f-9589-47ed-96cb-6f2d79ca1fa8",
                                              "type": "Change Order agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "additionaL_user_defined_data": {
                                                  "mykey": "myvalue"
                                              },
                                              "additional_custom_clm_data": {
                                                  "myclmkey": "myclmvalue"
                                              },
                                              "additional_custom_esign_data": {
                                                  "mysignkey": "mysignvalue"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "ConsultingDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "e42799d5-bd35-4777-8832-f316d4e2f7e7",
                                              "type": "Consulting Agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "ContractorDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "ef1f1758-30a2-42e3-80e5-10335d374b0c",
                                              "type": "Contractor Agreement",
                                              "category": "HumanResources",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "CreditCardDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "2900dc4b-3780-4abb-8f68-8e3ccd92d3b9",
                                              "type": "Credit Card Agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "EmploymentSeparationDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "249d1d9b-28ce-4be3-aa2f-46323a281591",
                                              "type": "Employment Separation Agreement",
                                              "category": "HumanResources",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 25000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 25000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P6M",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "EngagementLetterDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "33d144bb-5e1b-4e36-919b-1c9f007cf4b5",
                                              "type": "Engagement Letter",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "EventDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "7e7457b5-57e2-42f0-8f8d-2e296dc7177f",
                                              "type": "Event agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "ExhibitDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "b087d7f2-b5ad-4937-866a-36f314348a52",
                                              "type": "Exhibit agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "FeeDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "a607e149-bc3a-40ee-8846-bf646bcc560d",
                                              "type": "Fee agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "FranchiseDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "71e6c5b7-91f2-40d9-a587-9d0fc4a40ee9",
                                              "type": "Franchise Agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "IntellectualPropertyAssignmentDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "93861fd6-6df4-4e54-986d-3bd11deec5eb",
                                              "type": "Intellectual Property Assignment Agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "InvestmentAccountDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "399596db-f55d-4666-9361-38cb1bea2249",
                                              "type": "Investment Account Agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "JointVentureDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "40874a6e-4b7e-4e57-945b-e63b698df67a",
                                              "type": "Joint Venture Agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "LeaseDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "2cafbc38-5b91-40a9-85ea-bdbd2dfabf95",
                                              "type": "Lease agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "LetterOfIntentDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "18ad59d3-796c-4ba1-afbd-32b97a8115c3",
                                              "type": "Letter of Intent",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "LicenseDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "afb3793b-d313-435e-93e7-147d7c761398",
                                              "type": "License agreement",
                                              "category": "Miscellaneous",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "LoanDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "55f1146c-f0f4-4e56-afc8-47115578d96f",
                                              "type": "Loan agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "annual_agreement_value": 50000,
                                                  "annual_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
                                              "source_account_id": "3b324aff-06bc-475e-90f5-0a621c8ac141",
                                              "metadata": {
                                                  "created_at": "2024-02-01T00:00:00Z",
                                                  "created_by": "a7b0e58b-9606-4798-ad01-a7d8790cd571",
                                                  "request_id": "b0f2a7c4-34bc-4d7d-9e8c-567890123abc",
                                                  "response_timestamp": "2024-10-17T14:30:59Z",
                                                  "response_duration_ms": 110
                                              }
                                          }
                                      },
                                      {
                                          "MarketingDocumentTemplate": null,
                                          "description": "An agreement type data template",
                                          "value": {
                                              "id": "fa4d8a86-213b-4eaa-9d67-3c1536f0cfd1",
                                              "type": "Marketing agreement",
                                              "category": "BusinessServices",
                                              "parties": [
                                                  {
                                                      "id": "aba3d8ca-6ab8-400a-af55-bdab40102a2f",
                                                      "name_in_agreement": "ACME, INC"
                                                  },
                                                  {
                                                      "id": "eb01cef7-7b63-49af-8eef-3c643357ce18",
                                                      "name_in_agreement": "TALLY, LTD"
                                                  }
                                              ],
                                              "provisions": {
                                                  "effective_date": "2024-09-01T00:00:00+02:00",
                                                  "expiration_date": "2029-09-01T00:00:00+02:00",
                                                  "execution_date": "2024-08-15T11:45:00+02:00",
                                                  "total_agreement_value": 150000,
                                                  "total_agreement_value_currency_code": "USD",
                                                  "term_length": "P3Y",
                                                  "assignment_type": "YES_WITH_CONDITIONS",
                                                  "assignment_change_of_control": "NO_OR_CONSENT_REQUIRED",
                                                  "assignment_termination_rights": "YES",
                                                  "governing_law": "California",
                                                  "jurisdiction": "California",
                                                  "payment_terms_due_date": "THIRTY_DAYS",
                                                  "can_charge_late_payment_fees": true,
                                                  "late_payment_fee_percent": 0,
                                                  "price_cap_percent_increase": 5,
                                                  "liability_cap_fixed_amount": 0,
                                                  "liability_cap_currency_code": "USD",
                                                  "liability_cap_multiplier": 0,
                                                  "liability_cap_duration": "P1Y",
                                                  "renewal_type": "AUTO_RENEW",
                                                  "renewal_notice_period": "P90D",
                                                  "renewal_notice_date": "2024-10-17T14:30:00+02:00",
                                                  "auto_renewal_term_length": "P3Y",
                                                  "renewal_extension_period": "P1Y",
                                                  "renewal_process_owner": "199b3cc9-ec67-47a5-9dff-04ff091d4ca3",
                                                  "renewal_additional_info": "N/A",
                                                  "termination_period_for_cause": "P1Y",
                                                  "termination_period_for_convenience": "P1Y"
                                              },
                                              "languages": [
                                                  "en-US"
                                              ],
                                              "source_name": "Docusign eSign",
                                              "source_id": "8ade6915-d04b-40d6-bb6f-9c6ba6aa1bb5",
[...]
