{
    "openapi": "3.0.4",
    "info": {
        "title": "Workspaces API",
        "description": "Docusign Workspaces API",
        "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
        "contact": {
            "name": "Docusign Developer Center",
            "url": "https://developers.docusign.com",
            "email": "devcenter@docusign.com"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api-d.docusign.com",
            "description": "Server"
        }
    ],
    "paths": {
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/brand": {
            "get": {
                "tags": [
                    "WorkspaceBrands"
                ],
                "summary": "Returns details about the brand set for a workspace",
                "description": "This operation retrieves details about a specific workspace. It returns the brand details such as its unique identifier (ID), name, and metadata such as brand colors and logos.",
                "operationId": "getWorkspaceBrand",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceBrandResponse"
                                },
                                "examples": {
                                    "GetWorkspaceBrandResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceBrandResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceBrand",
                "x-ds-method": "getWorkspaceBrand",
                "x-ds-service": "Workspace Brand"
            },
            "put": {
                "tags": [
                    "WorkspaceBrands"
                ],
                "summary": "Updates brand for an existing workspace",
                "description": "This operation updates brand for a specific workspace. It returns the brand details such as its unique identifier (ID), name, and metadata such as brand colors and logos.",
                "operationId": "updateWorkspaceBrand",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBrandBody"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBrandBody"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBrandBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Workspace brand successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateWorkspaceBrandResponse"
                                },
                                "examples": {
                                    "UpdateWorkspaceBrandResponseExample": {
                                        "$ref": "#/components/examples/UpdateWorkspaceBrandResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "updateWorkspaceBrand",
                "x-ds-method": "updateWorkspaceBrand",
                "x-ds-service": "Workspace Brand"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/documents": {
            "get": {
                "tags": [
                    "WorkspaceDocuments"
                ],
                "summary": "Get documents in the workspace accessible to the calling user",
                "description": "This operation retrieves the documents in the workspace that are accessible to the calling user. Documents may be added directly or automatically through tasks such as envelopes. Documents may be used to create envelopes.\n\nPagination is supported by passing `start_position` and `count` in the request. The response will include `resultSetSize`, `start_position`, and `end_position` which may be utilized for subsequent requests.",
                "operationId": "getWorkspaceDocuments",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Number of documents to return. Defaults to the maximum which is 100",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/Count"
                        }
                    },
                    {
                        "name": "start_position",
                        "in": "query",
                        "description": "Position of the first item in the total results. Defaults to 0",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/StartPosition"
                        }
                    },
                    {
                        "name": "name_filter",
                        "in": "query",
                        "description": "Filter documents where Name contains the filter. Defaults to null, to not filter",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/NameFilter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documents successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceDocumentsResponse"
                                },
                                "examples": {
                                    "GetWorkspaceDocumentsResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceDocumentsResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceDocuments",
                "x-ds-method": "getWorkspaceDocuments",
                "x-ds-service": "Workspace Documents"
            },
            "post": {
                "tags": [
                    "WorkspaceDocuments"
                ],
                "summary": "Add a document to a workspace via file contents upload",
                "description": "This operation adds a document to a workspace via file contents upload. The file is passed in the request body as a multipart/form-data file. The file name is used as the document name.\n\nOnce added, it may be used to create an envelope associated with the workspace.",
                "operationId": "addWorkspaceDocument",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AddWorkspaceDocumentRequest"
                            },
                            "encoding": {
                                "file": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Document successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceDocumentResponse"
                                },
                                "examples": {
                                    "CreateWorkspaceDocumentResponseExample": {
                                        "$ref": "#/components/examples/CreateWorkspaceDocumentResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "addWorkspaceDocument",
                "x-ds-method": "addWorkspaceDocument",
                "x-ds-service": "Workspace Documents"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/documents/{documentId}": {
            "get": {
                "tags": [
                    "WorkspaceDocuments"
                ],
                "summary": "Get information about the document",
                "description": "This operation retrieves information about the document. The response includes the document ID, name, and metadata.",
                "operationId": "getWorkspaceDocument",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/DocumentId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceDocumentResponse"
                                },
                                "examples": {
                                    "GetWorkspaceDocumentResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceDocumentResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceDocument",
                "x-ds-method": "getWorkspaceDocument",
                "x-ds-service": "Workspace Documents"
            },
            "delete": {
                "tags": [
                    "WorkspaceDocuments"
                ],
                "summary": "Deletes a document in the workspace",
                "description": "This operation permanently deletes a document by ID.",
                "operationId": "deleteWorkspaceDocument",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/DocumentId"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Document has been successfully deleted"
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "deleteWorkspaceDocument",
                "x-ds-method": "deleteWorkspaceDocument",
                "x-ds-service": "Workspace Documents"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/documents/{documentId}/contents": {
            "get": {
                "tags": [
                    "WorkspaceDocuments"
                ],
                "summary": "Get the file contents of the document",
                "description": "This operation retrieves the file contents of the document. The file is returned as a stream in the response body. The Content-Disposition response header contains the document name as the `filename`.",
                "operationId": "getWorkspaceDocumentContents",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/DocumentId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document successfully retrieved.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceDocumentContentsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceDocumentContents",
                "x-ds-method": "getWorkspaceDocumentContents",
                "x-ds-service": "Workspace Documents"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/upload-requests": {
            "post": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Creates a new upload request within a workspace",
                "description": "This operation creates a new upload request within a workspace. The upload request includes name, description, due date, and user assignments. Upload requests can be created as drafts or sent immediately based on the status field.",
                "operationId": "createWorkspaceUploadRequest",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The upload request details including name, description, assignments, and status",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceUploadRequestBody"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceUploadRequestBody"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceUploadRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Upload request successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceUploadRequestResponse"
                                },
                                "examples": {
                                    "GetWorkspaceUploadRequestResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceUploadRequestResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "createWorkspaceUploadRequest",
                "x-ds-method": "createWorkspaceUploadRequest",
                "x-ds-service": "Workspace Upload Requests"
            },
            "get": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Gets upload requests within a workspace",
                "description": "This operation retrieves a list of upload requests within a workspace. Each upload request includes details such as ID, name, description, status, owner information, associated documents, assignments, and various dates.",
                "operationId": "getWorkspaceUploadRequests",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upload requests successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceUploadRequestsResponse"
                                },
                                "examples": {
                                    "GetWorkspaceUploadRequestsResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceUploadRequestsResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceUploadRequests",
                "x-ds-method": "getWorkspaceUploadRequests",
                "x-ds-service": "Workspace Upload Requests"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/upload-requests/{uploadRequestId}": {
            "get": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Gets details for a specific upload request",
                "description": "This operation retrieves details about a specific upload request within a workspace. The response includes comprehensive information about the upload request including status, assigned users, associated documents, owner details, and various dates.",
                "operationId": "getWorkspaceUploadRequest",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "uploadRequestId",
                        "in": "path",
                        "description": "The ID of the upload request",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequestId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upload request details successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceUploadRequestResponse"
                                },
                                "examples": {
                                    "GetWorkspaceUploadRequestResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceUploadRequestResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceUploadRequest",
                "x-ds-method": "getWorkspaceUploadRequest",
                "x-ds-service": "Workspace Upload Requests"
            },
            "put": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Updates a specific upload request",
                "description": "This operation updates a specific upload request within a workspace. Only draft upload requests can be edited. The editable fields are name, description, due date, and status. Status changes are restricted - only transitions from draft to in_progress are allowed. Attempting to update a non-draft upload request will result in an INVALID_STATUS error. Attempting an invalid status change will result in an INVALID_STATUS_CHANGE error.",
                "operationId": "updateWorkspaceUploadRequest",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "uploadRequestId",
                        "in": "path",
                        "description": "The ID of the upload request to update",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequestId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The upload request object with updated values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceUploadRequestBody"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceUploadRequestBody"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceUploadRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Upload request successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceUploadRequestResponse"
                                },
                                "examples": {
                                    "GetWorkspaceUploadRequestResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceUploadRequestResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "updateWorkspaceUploadRequest",
                "x-ds-method": "updateWorkspaceUploadRequest",
                "x-ds-service": "Workspace Upload Requests"
            },
            "delete": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Deletes a specific upload request",
                "description": "This operation deletes a specific upload request within a workspace. Upload requests cannot be deleted if they are complete or have associated documents.",
                "operationId": "deleteWorkspaceUploadRequest",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "uploadRequestId",
                        "in": "path",
                        "description": "The ID of the upload request to delete",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequestId"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Upload request successfully deleted"
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "deleteWorkspaceUploadRequest",
                "x-ds-method": "deleteWorkspaceUploadRequest",
                "x-ds-service": "Workspace Upload Requests"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/upload-requests/{uploadRequestId}/documents": {
            "post": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Add a document to an upload request via file upload",
                "description": "This operation adds a document to a specific upload request within a workspace via file upload. The file is passed in the request body as multipart/form-data. The file name is used as the document name.",
                "operationId": "addWorkspaceUploadRequestDocument",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "uploadRequestId",
                        "in": "path",
                        "description": "The ID of the upload request",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequestId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AddWorkspaceUploadRequestDocumentRequest"
                            },
                            "encoding": {
                                "file": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Document successfully added to upload request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddWorkspaceUploadRequestDocumentResponse"
                                },
                                "examples": {
                                    "AddWorkspaceUploadRequestDocumentResponseExample": {
                                        "$ref": "#/components/examples/AddWorkspaceUploadRequestDocumentResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "addWorkspaceUploadRequestDocument",
                "x-ds-method": "addWorkspaceUploadRequestDocument",
                "x-ds-service": "Workspace Upload Requests"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/upload-requests/{uploadRequestId}/actions/complete": {
            "post": {
                "tags": [
                    "WorkspaceUploadRequest"
                ],
                "summary": "Complete an upload request",
                "description": "This operation completes a specific upload request within a workspace and is intended to be called by the user completing the upload request. Only upload requests that are in progress can be completed.",
                "operationId": "completeWorkspaceUploadRequest",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "uploadRequestId",
                        "in": "path",
                        "description": "The ID of the upload request to complete",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UploadRequestId"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Upload request successfully completed"
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "completeWorkspaceUploadRequest",
                "x-ds-method": "completeWorkspaceUploadRequest",
                "x-ds-service": "Workspace Upload Requests"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/users": {
            "get": {
                "tags": [
                    "WorkspaceUsers"
                ],
                "summary": "Retrieves the list of users in the given workspace",
                "description": "This operations retrieves the users in a workspace. Users sent envelopes or assigned tasks will automatically be added to the workspace with the Participate role.\n\nPagination is supported by passing `start_position` and `count` in the request. The response will include `resultSetSize`, `start_position`, and `end_position` which may be utilized for subsequent requests.",
                "operationId": "getWorkspaceUsers",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Number of workspace users to return. Defaults to the maximum which is 100.",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/Count"
                        }
                    },
                    {
                        "name": "start_position",
                        "in": "query",
                        "description": "Position of the first item in the total results. Defaults to 0.",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/StartPosition"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Returns workspace users filtered by Name and Email",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/Filter"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorts results. Options are `first_name_asc`, `first_name_desc`, `last_name_asc`, `last_name_desc`, `email_asc`, `email_desc`. Defaults to `last_name_desc`",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/GetWorkspaceUsersSortingOption"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The workspace user was successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceUsersResponse"
                                },
                                "examples": {
                                    "GetWorkspaceUsersResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceUsersResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The workspace was not found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaceUsers",
                "x-ds-method": "getWorkspaceUsers",
                "x-ds-service": "Workspace Users"
            },
            "post": {
                "tags": [
                    "WorkspaceUsers"
                ],
                "summary": "Adds a user to the workspace by email address",
                "description": "This operation manually adds an internal or external user to a specific workspace by email address. Users within the account are considered \"Internal\" and may be assigned any role. Users outside the account are considered \"External\" and may only be assigned the Participate role. This operation is not typically needed for adding external participants to a Workspace as they will be automatically added as tasks are assigned.\n\nAvailable role IDs can be retrieved via the Assignable Roles operation on a workspace. If the `role_id` is not passed, the user is added with the Participate role.",
                "operationId": "addWorkspaceUser",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The user details",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForCreate"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForCreate"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The user was successfully added to the workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceUserResponse"
                                },
                                "examples": {
                                    "CreateWorkspaceUserResponseExample": {
                                        "$ref": "#/components/examples/CreateWorkspaceUserResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "addWorkspaceUser",
                "x-ds-method": "addWorkspaceUser",
                "x-ds-service": "Workspace Users"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/users/{userId}": {
            "put": {
                "tags": [
                    "WorkspaceUsers"
                ],
                "summary": "Updates the specified user's role",
                "description": "This operation updates the specified user's role in the workspace. Users within the account are considered \"Internal\" and may be assigned any role. Users outside the account are considered \"External\" and may only be assigned \"External\" roles.",
                "operationId": "updateWorkspaceUser",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The ID of the user to update",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The user details to update to including the RoleId",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForUpdate"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForUpdate"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUserForUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The workspace user was successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateWorkspaceUserResponse"
                                },
                                "examples": {
                                    "UpdateWorkspaceUserResponseExample": {
                                        "$ref": "#/components/examples/UpdateWorkspaceUserResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "updateWorkspaceUser",
                "x-ds-method": "updateWorkspaceUser",
                "x-ds-service": "Workspace Users"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/users/{userId}/actions/revoke-access": {
            "post": {
                "tags": [
                    "WorkspaceUsers"
                ],
                "summary": "Revokes the specified user's access to the workspace",
                "description": "This operation revokes the specified user's access to the workspace. The optional `revocation_date` may be set to schedule revocation in the future. If not specified, the revocation will be immediate.",
                "operationId": "revokeWorkspaceUserAccess",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace to revoke access from",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The ID of the user to be revoked from the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Optional details. Allows scheduling the revocation for the future",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeWorkspaceUserDetails"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeWorkspaceUserDetails"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeWorkspaceUserDetails"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "The workspace user's access was successfully revoked"
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "revokeWorkspaceUserAccess",
                "x-ds-method": "revokeWorkspaceUserAccess",
                "x-ds-service": "Workspace Users"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/users/{userId}/actions/restore-access": {
            "post": {
                "tags": [
                    "WorkspaceUsers"
                ],
                "summary": "Restores the specified user's access to the workspace",
                "description": "This operation restores the specified user's access to the workspace. The user must have been previously revoked from the workspace. The access is immediately restored.",
                "operationId": "restoreWorkspaceUserAccess",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace to restore access",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The ID of the user to be restored to the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The workspace user's access was successfully restored"
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "restoreWorkspaceUserAccess",
                "x-ds-method": "restoreWorkspaceUserAccess",
                "x-ds-service": "Workspace Users"
            }
        },
        "/v1/accounts/{accountId}/workspaces": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Gets workspaces available to the calling user",
                "description": "This operation retrieves a list of workspaces available to the calling user. It returns basic information about each workspace, including its unique identifier (ID), name, and metadata such as when it was created and by whom.\n\nPagination is supported by passing `start_position` and `count` in the request. The response will include `resultSetSize`, `start_position`, and `end_position` which may be utilized for subsequent requests.",
                "operationId": "getWorkspaces",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Number of workspaces to return. Defaults to the maximum which is 100",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/Count"
                        }
                    },
                    {
                        "name": "start_position",
                        "in": "query",
                        "description": "Position of the first item in the total results. Defaults to 0",
                        "style": "form",
                        "schema": {
                            "$ref": "#/components/schemas/StartPosition"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspaces successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspacesResponse"
                                },
                                "examples": {
                                    "GetWorkspacesResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspacesResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspaces",
                "x-ds-method": "getWorkspaces",
                "x-ds-service": "Workspaces"
            },
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Creates a new workspace",
                "description": "This operation creates a new workspace. The calling user is automatically added as a member of the workspace with the role of Manage.\n\nOnce created, the `workspace_id` is utilized to associate tasks such as envelopes. Participants on tasks will automatically be added to the workspace with the Participate role.",
                "operationId": "createWorkspace",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The details of the workspace to be created including the name",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceBody"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceBody"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Workspace successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceResponse"
                                },
                                "examples": {
                                    "CreateWorkspaceResponseExample": {
                                        "$ref": "#/components/examples/CreateWorkspaceResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "createWorkspace",
                "x-ds-method": "createWorkspace",
                "x-ds-service": "Workspaces"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}": {
            "put": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Updates an existing workspace",
                "description": "This operation updates details about a specific workspace. It returns the workspace's unique identifier (ID), name, and metadata such as when it was created and by whom.",
                "operationId": "updateWorkspace",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBody"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBody"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Workspace successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateWorkspaceResponse"
                                },
                                "examples": {
                                    "UpdateWorkspaceResponseExample": {
                                        "$ref": "#/components/examples/UpdateWorkspaceResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "updateWorkspace",
                "x-ds-method": "updateWorkspace",
                "x-ds-service": "Workspaces"
            },
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Returns details about the workspace",
                "description": "This operation retrieves details about a specific workspace. It returns the workspace's unique identifier (ID), name, and metadata such as when it was created and by whom.",
                "operationId": "getWorkspace",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The ID of the account",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/AccountId"
                        }
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "$ref": "#/components/schemas/WorkspaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkspaceResponse"
                                },
                                "examples": {
                                    "GetWorkspaceResponseExample": {
                                        "$ref": "#/components/examples/GetWorkspaceResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. See ErrorCode and Message for details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to make this request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                },
                "x-ds-methodname": "getWorkspace",
                "x-ds-method": "getWorkspace",
                "x-ds-service": "Workspaces"
            }
        },
        "/v1/accounts/{accountId}/workspaces/{workspaceId}/assignable-roles": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Returns the roles the caller can assign to workspace users",
                "description": "This operation returns roles that are assignable to users in the workspace based on the caller's role in the workspace. Roles available include Manage (internal) and Participate (external). Participate is the default role.\n\nUsers within the account are considered \"Internal\" and may be assigned any role. Users outside the account are considered \"External\" and may only be assigned \"External\" roles.\n\nPagination is supported by passing `start_position` and `count` in the request. The response will include `resultSetSize`, `start_position`, and `end_position` which may be utilized for subsequent requests.",
[...]
